## **Step 1: Understanding and Selecting Relevant Columns**

## **I) Exploratory Data Analysis**

In [96]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Alif computer\Desktop\projet machine learning\Machine-Learning-Pipeline-for-Startup-Success\companies.csv")
df.head(10)

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN
5,c:10002,5,Company,10002,NaN,Synergie Media,synergie media,/company/synergie-media,advertising,operating,...,NaN,NaN,NaN,2.0,NaN,2008-08-24 17:39:10,2008-09-06 14:19:19,30.427755,-9.598107,NaN
6,c:10003,6,Company,10003,NaN,Green Basti Ecosystems,green basti ecosystems,/company/green-basti-ecosystems,cleantech,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 19:49:25,2010-04-22 23:48:20,22.307159,73.181219,NaN
7,c:100042,7,Company,100042,NaN,HostNine,hostnine,/company/hostnine,NaN,operating,...,2011-06-20,2011-06-20,1.0,1.0,NaN,2011-09-07 00:53:17,2011-12-20 09:09:53,NaN,NaN,NaN
8,c:10005,8,Company,10005,NaN,Thomas Publishing,thomas publishing,/company/thomas-publishing,advertising,operating,...,1999-06-01,1999-06-01,1.0,2.0,NaN,2008-08-24 20:21:21,2009-11-19 17:21:00,40.712775,-74.005973,NaN
9,c:100062,9,Company,100062,NaN,Vetter Idea Management System,vetter idea management system,/company/vetter-idea-management-system,enterprise,operating,...,2011-08-01,2011-08-01,1.0,2.0,dmurtagh,2011-09-07 01:04:56,2011-09-24 13:13:18,NaN,NaN,NaN

### Number of Unique Companies

In [97]:
nb_unique_companies = df['name'].nunique()
print(f"Number of unique companies: {nb_unique_companies}")

Number of unique companies: 196347

### Dataset Overview and Missing Values Analysis

- **Number of rows and columns:** Displays the count of rows and columns in the dataset.
- **Size of the dataset:** Shows the total number of elements (rows × columns).
- **Missing values per column:** Lists the number of missing (null) values for each column.
- **List of all columns:** Displays all column names in the dataset.

In [98]:
from IPython.display import Markdown, display
display(Markdown("**Number of rows and columns:**"))
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")
display(Markdown("**Size of the dataset (rows * columns):**"))
print(df.size)
display(Markdown("**Missing values per column:**"))
display(df.isnull().sum())
display(Markdown("**List of all columns:**"))
display(df.columns.tolist())

**Number of rows and columns:**

Number of rows: 196553
Number of columns: 44

**Size of the dataset (rows * columns):**

8648332

**Missing values per column:**

id                          0
Unnamed: 0.1                0
entity_type                 0
entity_id                   0
parent_id              196553
name                       23
normalized_name            26
permalink                   0
category_code           73367
status                      0
founded_at             105326
closed_at              193933
domain                  70008
homepage_url            70008
twitter_username       115962
logo_url                86443
logo_width              86443
logo_height             86443
short_description      189422
description            104505
overview                69582
tag_list               115101
country_code           108563
state_code             145650
city                   112663
region                      0
first_investment_at    193970
last_investment_at     193970
investment_rounds      193962
invested_companies     193962
first_funding_at       165046
last_funding_at        165046
funding_rounds         164846
funding_total_usd      168679
first_milestone_at     104854
last_milestone_at      104854
milestones             104854
relationships           66886
created_by              41020
created_at                  0
updated_at                  0
lat                    112701
lng                    112701
ROI                    195827
dtype: int64

**List of all columns:**

['id',
 'Unnamed: 0.1',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'normalized_name',
 'permalink',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'domain',
 'homepage_url',
 'twitter_username',
 'logo_url',
 'logo_width',
 'logo_height',
 'short_description',
 'description',
 'overview',
 'tag_list',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'created_by',
 'created_at',
 'updated_at',
 'lat',
 'lng',
 'ROI']

### ✅ Columns to Keep

| Column                              | Justification                                                                                   |
|------------------------------------|------------------------------------------------------------------------------------------------|
| `name`                             | Main identifier for each startup, essential for deduplication and tracking.                     |
| `status`                           | Target variable (Operating, IPO, Acquired, Closed) for supervised learning.                    |
| `category_code`                    | Business sector (e.g., fintech, edtech); useful categorical feature.                           |
| `founded_at`                      | Founding date; allows calculation of startup age and trend analysis.                          |
| `closed_at`                       | Provides info on non-active startups.                                                         |
| `country_code`, `state_code`, `city`, `region` | Geographic context potentially influencing success.                                  |
| `first_funding_at`, `last_funding_at` | Funding timeline and history.                                                               |
| `funding_rounds`                  | Number of funding rounds; indicator of investor interest.                                     |
| `funding_total_usd`               | Total funding amount; key financial metric.                                                  |
| `investment_rounds`, `invested_companies` | Measures investment activity and investor behavior.                                      |
| `milestones`                     | Milestones reached, indicating development stages.                                           |
| `ROI`                            | Return on Investment, useful as feature or secondary target if available.                     |

### ❌ Columns to Drop

| Column                            | Justification                                                                                   | Example                                               |
|----------------------------------|------------------------------------------------------------------------------------------------|-------------------------------------------------------|
| `id`, `entity_id`, `parent_id`, `entity_type` | Internal technical IDs, irrelevant for modeling.                                          | `id = 123456`, no business meaning                    |
| `Unnamed: 0.1`                   | Redundant index column, often auto-generated.                                                 | Values like 0, 1, 2, 3 … duplicate DataFrame index   |
| `normalized_name`, `permalink`   | Duplicate info of `name` column.                                                               | `normalized_name = "startup-x"` duplicates `name`     |
| `domain`, `homepage_url`, `twitter_username` | Web/social media fields, not useful for analysis.                                         | `homepage_url = "http://www.example.com"`              |
| `logo_url`, `logo_width`, `logo_height` | Visual/media info not exploited in this project.                                            | `logo_url = "http://logo.example.com/logo.png"`       |
| `short_description`, `description`, `overview`, `tag_list` | Long text fields, noisy for tabular analysis.                                    | `description = "A fast-growing tech startup..."`      |
| `relationships`                 | Nested/complex data needing advanced parsing.                                                 | JSON-like data with investors and partners details    |
| `created_by`, `created_at`, `updated_at` | Dataset metadata, not business-relevant.                                                    | `created_at = "2021-05-10T12:34:56Z"`                  |
| `lat`, `lng`                   | Often incomplete/imprecise coordinates, requiring external enrichment.                       | `lat = NaN`, `lng = NaN` for many startups            |

## **Step 2: Drop Unnecessary Columns**

In [99]:
cols_to_drop = [
    'id',                # Example: 123456, technical ID without business meaning
    'entity_id',         # Internal ID
    'parent_id',         # Internal ID
    'entity_type',       # Technical type ID
    'Unnamed: 0.1',      # Auto-generated index column, e.g., 0,1,2,...
    'normalized_name',   # Duplicate of 'name', e.g., "startup-x"
    'permalink',         # Duplicate of 'name'
    'domain',            # URL, e.g., "www.example.com"
    'homepage_url',      # URL
    'twitter_username',  # Social media handle
    'logo_url',          # Logo image URL
    'logo_width',        # Logo dimensions
    'logo_height',       # Logo dimensions
    'overview',          # Long text
    'tag_list',          # Text tags
    'relationships',     # Nested complex data (likely JSON)
    'created_by',        # Internal metadata
    'created_at',        # Metadata timestamp, e.g., "2021-05-10T12:34:56Z"
    'updated_at',        # Metadata timestamp
    'lat',               # Often missing geographic coordinates
    'lng'                # Often missing geographic coordinates
]
# Drop the columns
df_cleaned = df.drop(columns=cols_to_drop, errors='ignore')
# Print the number of remaining columns
print(f"Number of columns after cleaning: {df_cleaned.shape[1]}")
# Print the list of retained columns
print("Retained columns:")
print(df_cleaned.columns.tolist())
# Display examples of values from dropped columns (before dropping) to verify
print("\nSample values from columns to be dropped (before dropping):")
print("id:", df['id'].head(3).tolist())
print("Unnamed: 0.1:", df['Unnamed: 0.1'].head(3).tolist())
print("normalized_name:", df['normalized_name'].head(3).tolist())
print("domain:", df['domain'].head(3).tolist())
print("description:", df['description'].head(1).tolist())
print("created_at:", df['created_at'].head(3).tolist())
print("lat:", df['lat'].head(3).tolist())
print("General information about the cleaned DataFrame:")
display(df_cleaned.info())

Number of columns after cleaning: 23
Retained columns:
['name', 'category_code', 'status', 'founded_at', 'closed_at', 'short_description', 'description', 'country_code', 'state_code', 'city', 'region', 'first_investment_at', 'last_investment_at', 'investment_rounds', 'invested_companies', 'first_funding_at', 'last_funding_at', 'funding_rounds', 'funding_total_usd', 'first_milestone_at', 'last_milestone_at', 'milestones', 'ROI']

Sample values from columns to be dropped (before dropping):
id: ['c:1', 'c:10', 'c:100']
Unnamed: 0.1: [0, 1, 2]
normalized_name: ['wetpaint', 'flektor', 'there']
domain: ['wetpaint-inc.com', 'flektor.com', 'there.com']
description: ['Technology Platform Company']
created_at: ['2007-05-25 06:51:27', '2007-05-31 21:11:51', '2007-08-06 23:52:45']
lat: [47.6062095, 34.0211224, 37.5629917]
General information about the cleaned DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   name                 196530 non-null  object
 1   category_code        123186 non-null  object
 2   status               196553 non-null  object
 3   founded_at           91227 non-null   object
 4   closed_at            2620 non-null    object
 5   short_description    7131 non-null    object
 6   description          92048 non-null   object
 7   country_code         87990 non-null   object
 8   state_code           50903 non-null   object
 9   city                 83890 non-null   object
 10  region               196553 non-null  object
 11  first_investment_at  2583 non-null    object
 12  last_investment_at   2583 non-null    object
 13  investment_rounds    2591 non-null    float64
 14  invested_companies   2591 non-null    float64
 15  first_funding_at     31507 non-null   object
 16  last_funding_at      31507 non-null   object
 17  funding_rounds       31707 non-null   float64
 18  funding_total_usd    27874 non-null   float64
 19  first_milestone_at   91699 non-null   object
 20  last_milestone_at    91699 non-null   object
 21  milestones           91699 non-null   float64
 22  ROI                  726 non-null     float64
dtypes: float64(6), object(17)
memory usage: 34.5+ MB

None

 ## **Step 3: Handle Missing Values**

## **a. Critical Columns**

✅ Removal of rows with missing values in the name or status columns.

In [100]:

print(f"Initial number of rows: {df_cleaned.shape[0]}")
df_cleaned = df_cleaned.dropna(subset=['name', 'status'])
print(f"Number of rows after dropping rows with missing 'name' or 'status': {df.shape[0]}")

Initial number of rows: 196553
Number of rows after dropping rows with missing 'name' or 'status': 196553

## **b. Descriptive and Location Fields**

- ✅ Fill missing values:
  - Replace missing `description` and `short_description` with `'Not provided'`.
  - Replace missing geographical fields (`country_code`, `state_code`, `city`, `region`) with `'Unknown'`.

In [101]:
# Fill missing description fields with a placeholder
df_cleaned['description'] = df_cleaned['description'].fillna('Not provided')
df_cleaned['short_description'] = df_cleaned['short_description'].fillna('Not provided')
# Fill missing geographical fields with 'Unknown'
geo_cols = ['country_code', 'state_code', 'city', 'region']
df_cleaned[geo_cols] = df_cleaned[geo_cols].fillna('Unknown')
# Optional: check how many missing values remain in those columns
print("\nRemaining missing values in targeted columns:")
print(df[['description', 'short_description'] + geo_cols].isnull().sum())

Remaining missing values in targeted columns:
description          104505
short_description    189422
country_code         108563
state_code           145650
city                 112663
region                    0
dtype: int64

## **c. Dates**

-  Convert date columns to `datetime` format using `pd.to_datetime()` with error coercion.
-  Check and confirm the data type of each date column after conversion:
  - ✅ If correctly converted → shows as `datetime64[ns]`.
  - ❌ If not → prints the current (unexpected) data type.

In [102]:
# List of columns containing date values
date_cols = [
    'founded_at', 'closed_at',
    'first_investment_at', 'last_investment_at',
    'first_funding_at', 'last_funding_at',
    'first_milestone_at', 'last_milestone_at'
]
# Convert all date columns to pandas datetime format
for col in date_cols:
    df_cleaned[col] = pd.to_datetime(df_cleaned[col], errors='coerce')
# Vérification des types de données de chaque colonne
print("✅ Vérification des types de chaque colonne de date :\n")
for col in date_cols:
    dtype = df_cleaned[col].dtype
    if dtype == 'datetime64[ns]':
        print(f"✅ {col} → correctly converted to datetime.")
    else:
        print(f"❌ {col} → not converted (current type: {dtype})")

✅ Vérification des types de chaque colonne de date :

✅ founded_at → correctly converted to datetime.
✅ closed_at → correctly converted to datetime.
✅ first_investment_at → correctly converted to datetime.
✅ last_investment_at → correctly converted to datetime.
✅ first_funding_at → correctly converted to datetime.
✅ last_funding_at → correctly converted to datetime.
✅ first_milestone_at → correctly converted to datetime.
✅ last_milestone_at → correctly converted to datetime.

## **Step 4: Correct Data Types**

In [103]:
print(df_cleaned.shape)
print(df_cleaned.isnull().sum())

(196530, 23)
name                        0
category_code           73357
status                      0
founded_at             105314
closed_at              193911
short_description           0
description                 0
country_code                0
state_code                  0
city                        0
region                      0
first_investment_at    193949
last_investment_at     193949
investment_rounds      193941
invested_companies     193941
first_funding_at       165025
last_funding_at        165025
funding_rounds         164825
funding_total_usd      168657
first_milestone_at     104839
last_milestone_at      104839
milestones             104839
ROI                    195804
dtype: int64

## ✅ Missing Value Treatment: Methodological Approach

###  Objective
Fill missing values in numerical columns in a statistically sound way to avoid introducing bias into the model.

---

### Approach Steps:

#### 1. Identify Numerical Columns
Determine which columns contain numerical variables (e.g., funding amounts, number of rounds, ROI, etc.).

---

#### 2. Analyze the Distribution
For each numerical column:
- Assess the **shape of the distribution** using statistical indicators such as **skewness**.
- A **symmetric distribution** suggests the mean is a representative measure.
- An **asymmetric distribution** (long tail on one side) likely indicates the presence of **outliers**.

---

#### 3. Choose the Imputation Method
- If the variable is **symmetric (skew ≈ 0)**: fill missing values with the **mean**.
- If the variable is **asymmetric (skew > 1 or skew < -1)**: use the **median**, which is more robust to outliers.

---

#### 4. Replace Missing Values
Apply the chosen imputation for each column according to its distribution:
- Mean if the distribution is normal/symmetric
- Median if the distribution is skewed/asymmetric

---

#### 5. Final Verification
Ensure all missing values have been addressed:
- No cells should contain `NaN`.
- Descriptive statistics should be consistent with expectations.

In [104]:
numerical_columns = [
    'investment_rounds',
    'invested_companies',
    'funding_rounds',
    'funding_total_usd',
    'milestones',
    'ROI'
]
categorical_columns = [
    'name',
    'category_code',
    'status',
    'short_description',
    'description',
    'country_code',
    'state_code',
    'city',
    'region',
    'domain_extension'
]
df_cleaned[numerical_columns].skew()
for col in numerical_columns:
    if abs(df_cleaned[col].skew()) > 1:
        df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)
    else:
        df_cleaned[col].fillna(df_cleaned[col].mean(), inplace=True)
print("\n✅ Colonnes numériques sans NaN :")
for col in numerical_columns:
    if df_cleaned[col].isnull().sum() == 0:
        print(f"{col} : OK")
    else:
        print(f"{col} : ❌ {df_cleaned[col].isnull().sum()} NaNs restants")

✅ Colonnes numériques sans NaN :
investment_rounds : OK
invested_companies : OK
funding_rounds : OK
funding_total_usd : OK
milestones : OK
ROI : OK

C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\3068427072.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)
C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\3068427072.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)
C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\3068427072.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)
C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\3068427072.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)
C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\3068427072.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)
C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\3068427072.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].median(), inplace=True)

# **Summary of Steps for Processing Datetime Columns**

## **1. Calculate the median of each datetime column**

- Sort the non-missing dates and take the median value.  
- **Why?**  
  The median is robust to extreme values, unlike the mean.

## **2. Replace missing values (NaN) with the median date**

- This avoids dropping rows and limits data distortion.  
- **Why?**  
  Replacing with the median maintains temporal consistency without introducing extreme bias.

## **3. Calculate the difference in days for each pair of related columns**

- For example, the difference between `first_investment_at` and `last_investment_at`.  
- Create a new column that contains this duration in days.  
- **Why?**  
  This converts temporal information into numerical values that can be used for analysis or machine learning.

In [105]:
datetime_cols = [
    'founded_at', 'closed_at',
    'first_investment_at', 'last_investment_at',
    'first_funding_at', 'last_funding_at',
    'first_milestone_at', 'last_milestone_at'
]
# 1. Convertir en datetime si ce n’est pas encore fait
for col in datetime_cols:
    df_cleaned[col] = pd.to_datetime(df_cleaned[col], errors='coerce')
# 2. Remplir les valeurs manquantes par la médiane
for col in datetime_cols:
    median_date = df_cleaned[col].dropna().sort_values().iloc[len(df_cleaned[col].dropna()) // 2]
    df_cleaned[col].fillna(median_date, inplace=True)
# 3. Créer les colonnes avec différence en jours avec noms complets
date_pairs = [
    ('founded_at', 'closed_at'),
    ('first_investment_at', 'last_investment_at'),
    ('first_funding_at', 'last_funding_at'),
    ('first_milestone_at', 'last_milestone_at')
]
diff_columns = []
for start_col, end_col in date_pairs:
    # Nom de colonne basé sur la paire complète
    suffix = start_col.replace('first_', 'first_').replace('_at', '')  # récupère le nom logique
    diff_col_name = f"days_first_last_{suffix}_at"
    df_cleaned[diff_col_name] = (df_cleaned[end_col] - df_cleaned[start_col]).dt.days
    diff_columns.append(diff_col_name)
# 4. Supprimer les colonnes de date utilisées pour le calcul
cols_to_drop = set(sum(date_pairs, ()))
df_cleaned.drop(columns=list(cols_to_drop), inplace=True)
# Création de la variable cible binaire
df_cleaned['target'] = df_cleaned['status'].apply(lambda x: 1 if x in ['Operating', 'IPO'] else 0)
df_cleaned = df_cleaned.drop(columns=['status'])

C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\816120396.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_date, inplace=True)

# **Handling Missing Values in a Categorical Column**

## **Treatment Strategy**

- Replace missing values (NaN) with the most frequent value (mode) of the column.

## **Why?**

- The mode represents the most common category, making it a logical and representative choice to fill missing values.  
- This avoids dropping rows or introducing an artificial new category.  
- It helps preserve the original distribution of the categories.

In [ ]:
mode_category = df_cleaned['category_code'].mode()[0]
df_cleaned['category_code'].fillna(mode_category, inplace=True)

C:\Users\Alif computer\AppData\Local\Temp\ipykernel_13760\1012907969.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['category_code'].fillna(mode_category, inplace=True)

## **Encoding Categorical Variables: One-Hot and Label Encoding Techniques**

## Frequency Encoding of Company Names

## What is it?

Frequency Encoding replaces each company name with its relative frequency of occurrence in the dataset.

---

## How does it work?

For each name, we calculate:
$$
\text{Encoded value} = \frac{\text{Number of occurrences of the name}}{\text{Total number of rows in the dataset}}
$$

---

## Why use it?

- Transforms a categorical variable with **many unique values** into a continuous numerical variable.
- Avoids creating thousands of columns (as with one-hot encoding).
- Allows models like SVM and Random Forest to easily handle this variable.
- Reflects the relative popularity of a name, which can be informative.

---

In [107]:
# List of categorical columns to frequency encode
cols_to_encode = ['name', 'category_code', 'country_code', 'state_code', 'region', 'city']
# Apply frequency encoding to each column
for col in cols_to_encode:
    freq = df_cleaned[col].value_counts(normalize=True)  # Calculate relative frequencies
    df_cleaned[f'{col}_freq_enc'] = df_cleaned[col].map(freq).fillna(0)  # Map frequencies and handle NaNs
# Drop the original columns after encoding
df_cleaned.drop(columns=cols_to_encode, inplace=True)

### Mathematical description of the text processing

- Let $D = \{d_1, d_2, \ldots, d_N\}$ be the set of long descriptions, and $S = \{s_1, s_2, \ldots, s_N\}$ be the set of short descriptions.

- $V_D = \{w_1, w_2, \ldots, w_{M_D}\}$ is the vocabulary of unique words in $D$, and $V_S = \{u_1, u_2, \ldots, u_{M_S}\}$ is the vocabulary in $S$.

- Relative frequency of a word $w \in V_D$:
  
  $$
  f_D(w) = \frac{\text{number of occurrences of } w \text{ in } D}{\sum_{w' \in V_D} \text{number of occurrences of } w'}
  $$

- Relative frequency of a word $u \in V_S$:
  
  $$
  f_S(u) = \frac{\text{number of occurrences of } u \text{ in } S}{\sum_{u' \in V_S} \text{number of occurrences of } u'}
  $$

- For the long description $d_i$ containing words $\{w_{i1}, \ldots, w_{iK_i}\}$, compute:
  
  $$
  \text{desc\_freq\_sum}_i = \sum_{k=1}^{K_i} f_D(w_{ik})
  $$

- For the short description $s_i$ containing words $\{u_{i1}, \ldots, u_{iL_i}\}$, compute:
  
  $$
  \text{short\_desc\_freq\_sum}_i = \sum_{l=1}^{L_i} f_S(u_{il})
  $$

- These two values are used as compact numerical features for each row in the dataset.

In [108]:

from collections import Counter
# Description longue : description
df_cleaned['desc_clean'] = df_cleaned['description'].fillna('').str.lower()
desc_words = ' '.join(df_cleaned['desc_clean']).split()
desc_freq = Counter(desc_words)
total_desc_words = sum(desc_freq.values())
for word in desc_freq:
    desc_freq[word] /= total_desc_words
def sum_desc_freq(text):
    return sum(desc_freq.get(word, 0) for word in text.split())
df_cleaned['desc_freq_sum'] = df_cleaned['desc_clean'].apply(sum_desc_freq)
df_cleaned.drop(columns=['desc_clean'], inplace=True)
# Description courte : short_description
df_cleaned['short_desc_clean'] = df_cleaned['short_description'].fillna('').str.lower()
short_words = ' '.join(df_cleaned['short_desc_clean']).split()
short_freq = Counter(short_words)
total_short_words = sum(short_freq.values())
for word in short_freq:
    short_freq[word] /= total_short_words
def sum_short_desc_freq(text):
    return sum(short_freq.get(word, 0) for word in text.split())
df_cleaned['short_desc_freq_sum'] = df_cleaned['short_desc_clean'].apply(sum_short_desc_freq)
df_cleaned.drop(columns=['short_desc_clean'], inplace=True)
df_cleaned.drop(columns=['description', 'short_description'], inplace=True)

# Checking for Duplicates in the DataFrame `df_cleaned`

This code performs the following tasks:

- Calculates the **total number of rows** in the DataFrame.
- Identifies **duplicate rows**, meaning rows that are exact copies of previously encountered rows.
- Counts the **total number of duplicate rows** present.
- Calculates the **percentage of duplicate rows** relative to the total number of rows.
- Prints out the duplicate rows themselves for further inspection.

This process helps evaluate data quality and decide if it is necessary to **remove duplicates** to clean the dataset before further analysis or modeling.

In [115]:
# Calculate the total number of rows in the DataFrame
total_rows = len(df_cleaned)
# Identify duplicate rows (exact duplicates that have appeared before)
duplicate_rows = df_cleaned.duplicated()
# Count the total number of duplicate rows
num_duplicates = duplicate_rows.sum()
# Calculate the percentage of duplicate rows relative to the total number of rows
percentage_duplicates = (num_duplicates / total_rows) * 100
# Print the total number of rows
print(f"Total number of rows: {total_rows}")
# Print the number of duplicate rows
print(f"Number of duplicate rows: {num_duplicates}")
# Print the percentage of duplicate rows rounded to 2 decimal places
print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
# Display the duplicate rows themselves (i.e., the repeated rows)
print(df_cleaned[duplicate_rows])

Total number of rows: 196530
Number of duplicate rows: 77903
Percentage of duplicate rows: 39.64%
        investment_rounds  invested_companies  funding_rounds  \
29                    1.0                 1.0             1.0
42                    1.0                 1.0             1.0
70                    1.0                 1.0             1.0
73                    1.0                 1.0             1.0
79                    1.0                 1.0             1.0
...                   ...                 ...             ...
196534                1.0                 1.0             1.0
196535                1.0                 1.0             1.0
196536                1.0                 1.0             1.0
196539                1.0                 1.0             1.0
196546                1.0                 1.0             1.0

        funding_total_usd  milestones       ROI  days_first_last_founded_at  \
29              2565000.0         1.0  6.500497                        1095
42              2565000.0         1.0  6.500497                        1095
70              2565000.0         1.0  6.500497                        1095
73              2565000.0         1.0  6.500497                        1095
79              2565000.0         1.0  6.500497                        1095
...                   ...         ...       ...                         ...
196534          2565000.0         1.0  6.500497                        1095
196535          2565000.0         1.0  6.500497                        1095
196536          2565000.0         1.0  6.500497                        1095
196539          2565000.0         1.0  6.500497                        1095
196546          2565000.0         1.0  6.500497                        1095

        days_first_last_first_investment_at  days_first_last_first_funding_at  \
29                                      263                               313
42                                      263                               313
70                                      263                               313
73                                      263                               313
79                                      263                               313
...                                     ...                               ...
196534                                  263                               313
196535                                  263                               313
196536                                  263                               313
196539                                  263                               313
196546                                  263                               313

        days_first_last_first_milestone_at  target  name_freq_enc  \
29                                      94       0       0.000005
42                                       0       0       0.000005
70                                      94       0       0.000005
73                                      94       0       0.000005
79                                      94       0       0.000005
...                                    ...     ...            ...
196534                                  94       0       0.000005
196535                                  94       0       0.000005
196536                                  94       0       0.000005
196539                                  94       0       0.000005
196546                                  94       0       0.000005

        category_code_freq_enc  country_code_freq_enc  state_code_freq_enc  \
29                    0.464438               0.552333             0.741001
42                    0.464438               0.552333             0.741001
70                    0.464438               0.552333             0.741001
73                    0.464438               0.552333             0.741001
79                    0.464438               0.552333             0.741001
...                        ...                    ...                  ...
196534                0.464438               0.552333             0.741001
196535                0.464438               0.552333             0.741001
196536                0.464438               0.552333             0.741001
196539                0.464438               0.004406             0.741001
196546                0.464438               0.552333             0.741001

        region_freq_enc  city_freq_enc  desc_freq_sum  short_desc_freq_sum
29             0.558963       0.573185         0.3814             0.783196
42             0.558963       0.573185         0.3814             0.783196
70             0.558963       0.573185         0.3814             0.783196
73             0.558963       0.573185         0.3814             0.783196
79             0.558963       0.573185         0.3814             0.783196
...                 ...            ...            ...                  ...
196534         0.558963       0.573185         0.3814             0.783196
196535         0.558963       0.573185         0.3814             0.783196
196536         0.558963       0.573185         0.3814             0.783196
196539         0.001608       0.001598         0.3814             0.783196
196546         0.558963       0.573185         0.3814             0.783196

[77903 rows x 19 columns]

# Removing duplicates from the DataFrame `df_cleaned`

This command removes all exact duplicate rows from the DataFrame,  
meaning rows that are strictly identical to another existing row.  

The result is a DataFrame where every row is unique, which helps prevent bias or errors in future analyses.

In [117]:
df_cleaned = df_cleaned.drop_duplicates()

# Verifying duplicates after removal

In [ ]:

total_rows = len(df_cleaned)
duplicate_rows = df_cleaned.duplicated()
num_duplicates = duplicate_rows.sum()
percentage_duplicates = (num_duplicates / total_rows) * 100
print(f"Total number of rows: {total_rows}")
print(f"Number of duplicate rows: {num_duplicates}")
print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
print(df_cleaned[duplicate_rows])

Total number of rows: 118627
Number of duplicate rows: 0
Percentage of duplicate rows: 0.00%
Empty DataFrame
Columns: [investment_rounds, invested_companies, funding_rounds, funding_total_usd, milestones, ROI, days_first_last_founded_at, days_first_last_first_investment_at, days_first_last_first_funding_at, days_first_last_first_milestone_at, target, name_freq_enc, category_code_freq_enc, country_code_freq_enc, state_code_freq_enc, region_freq_enc, city_freq_enc, desc_freq_sum, short_desc_freq_sum]
Index: []

In [119]:
print(df_cleaned.shape)
print(df_cleaned.isnull().sum())

(118627, 19)
investment_rounds                      0
invested_companies                     0
funding_rounds                         0
funding_total_usd                      0
milestones                             0
ROI                                    0
days_first_last_founded_at             0
days_first_last_first_investment_at    0
days_first_last_first_funding_at       0
days_first_last_first_milestone_at     0
target                                 0
name_freq_enc                          0
category_code_freq_enc                 0
country_code_freq_enc                  0
state_code_freq_enc                    0
region_freq_enc                        0
city_freq_enc                          0
desc_freq_sum                          0
short_desc_freq_sum                    0
dtype: int64

## Convert all columns to float type

This code converts all columns in the DataFrame `df_cleaned` to the `float` type using the `astype(float)` method.  
This ensures that all numeric data is consistent for statistical processing or modeling.

In [124]:
df_cleaned = df_cleaned.astype(float)
print(df_cleaned.dtypes)

investment_rounds                      float64
invested_companies                     float64
funding_rounds                         float64
funding_total_usd                      float64
milestones                             float64
ROI                                    float64
days_first_last_founded_at             float64
days_first_last_first_investment_at    float64
days_first_last_first_funding_at       float64
days_first_last_first_milestone_at     float64
target                                 float64
name_freq_enc                          float64
category_code_freq_enc                 float64
country_code_freq_enc                  float64
state_code_freq_enc                    float64
region_freq_enc                        float64
city_freq_enc                          float64
desc_freq_sum                          float64
short_desc_freq_sum                    float64
dtype: object

In [125]:
df_cleaned.to_csv('companies_cleaned.csv', index=False)

## Before data preprocessing

In [127]:
df.head(10)

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN
5,c:10002,5,Company,10002,NaN,Synergie Media,synergie media,/company/synergie-media,advertising,operating,...,NaN,NaN,NaN,2.0,NaN,2008-08-24 17:39:10,2008-09-06 14:19:19,30.427755,-9.598107,NaN
6,c:10003,6,Company,10003,NaN,Green Basti Ecosystems,green basti ecosystems,/company/green-basti-ecosystems,cleantech,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 19:49:25,2010-04-22 23:48:20,22.307159,73.181219,NaN
7,c:100042,7,Company,100042,NaN,HostNine,hostnine,/company/hostnine,NaN,operating,...,2011-06-20,2011-06-20,1.0,1.0,NaN,2011-09-07 00:53:17,2011-12-20 09:09:53,NaN,NaN,NaN
8,c:10005,8,Company,10005,NaN,Thomas Publishing,thomas publishing,/company/thomas-publishing,advertising,operating,...,1999-06-01,1999-06-01,1.0,2.0,NaN,2008-08-24 20:21:21,2009-11-19 17:21:00,40.712775,-74.005973,NaN
9,c:100062,9,Company,100062,NaN,Vetter Idea Management System,vetter idea management system,/company/vetter-idea-management-system,enterprise,operating,...,2011-08-01,2011-08-01,1.0,2.0,dmurtagh,2011-09-07 01:04:56,2011-09-24 13:13:18,NaN,NaN,NaN

## After data preprocessing

In [128]:
df_cleaned.head(10)

,investment_rounds,invested_companies,funding_rounds,funding_total_usd,milestones,ROI,days_first_last_founded_at,days_first_last_first_investment_at,days_first_last_first_funding_at,days_first_last_first_milestone_at,target,name_freq_enc,category_code_freq_enc,country_code_freq_enc,state_code_freq_enc,region_freq_enc,city_freq_enc,desc_freq_sum,short_desc_freq_sum
0,1.0,1.0,3.0,39750000.0,5.0,15.500000,2267.0,263.0,961.0,1109.0,0.0,0.000005,0.076920,0.262733,0.009637,0.008238,0.004768,0.017100,0.783196
1,1.0,1.0,1.0,2565000.0,1.0,6.500497,1095.0,263.0,313.0,94.0,0.0,0.000005,0.038264,0.262733,0.083896,0.020643,0.000356,0.381400,0.783196
2,1.0,1.0,1.0,2565000.0,4.0,6.500497,1095.0,263.0,313.0,3156.0,0.0,0.000005,0.038264,0.262733,0.083896,0.051758,0.001827,0.381400,0.783196
3,1.0,1.0,1.0,2565000.0,1.0,6.500497,1254.0,263.0,313.0,94.0,0.0,0.000005,0.011957,0.552333,0.741001,0.558963,0.573185,0.381400,0.783196
4,1.0,1.0,1.0,2565000.0,1.0,6.500497,1254.0,263.0,313.0,94.0,0.0,0.000005,0.038264,0.552333,0.741001,0.558963,0.573185,0.381400,0.783196
5,1.0,1.0,1.0,2565000.0,1.0,6.500497,1649.0,263.0,313.0,94.0,0.0,0.000005,0.031028,0.000092,0.741001,0.000005,0.000005,0.381400,0.783196
6,1.0,1.0,1.0,2565000.0,1.0,6.500497,1229.0,263.0,313.0,94.0,0.0,0.000005,0.009871,0.019966,0.741001,0.000087,0.000076,0.381400,0.783196
7,1.0,1.0,1.0,2565000.0,1.0,6.500497,1095.0,263.0,313.0,0.0,0.0,0.000005,0.464438,0.552333,0.741001,0.558963,0.573185,0.381400,0.783196
8,1.0,1.0,1.0,2565000.0,1.0,6.500497,1095.0,263.0,313.0,0.0,0.0,0.000005,0.031028,0.262733,0.029166,0.026327,0.019417,0.015651,0.783196
9,1.0,1.0,1.0,2565000.0,1.0,6.500497,153.0,263.0,313.0,0.0,0.0,0.000005,0.022597,0.552333,0.741001,0.558963,0.573185,0.006792,0.783196

## Conclusion

After analyzing the dataset, we observed the following:

- The features have mixed data types: numerical, encoded categorical, and temporal.
- The values are on very different scales, ranging from near zero to several millions.
- Categorical columns were encoded using frequency encoding, resulting in values between 0 and 1.
- Textual features were simplified into numerical scores based on word frequency.
- Temporal variables provide meaningful insights about durations and should be kept.

To ensure optimal model performance, we will need to normalize or standardize the features to bring them to a common scale.

We now proceed to the next preprocessing step.