***Data Preprocessing Steps:-***

In [ ]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
warnings.filterwarnings('ignore')

In [ ]:
company = pd.read_csv("/content/drive/MyDrive/companies.csv")
company

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,196548,Company,99940,NaN,Webgility,webgility,/company/webgility,ecommerce,operating,...,2013-08-12,2013-08-12,2.0,5.0,NaN,2011-09-06 23:17:56,2013-08-13 00:39:13,37.774929,-122.419415,NaN
196549,c:9995,196549,Company,9995,NaN,FohBoh,fohboh,/company/fohboh,public_relations,operating,...,2013-05-01,2013-05-01,1.0,14.0,NaN,2008-08-24 15:46:26,2013-06-28 20:55:30,37.338208,-121.886329,NaN
196550,c:9996,196550,Company,9996,NaN,CSC,csc,/company/csc,consulting,operating,...,2012-01-01,2013-10-30,3.0,44.0,NaN,2008-08-24 15:46:58,2013-06-28 20:52:01,38.882334,-77.171091,NaN
196551,c:9997,196551,Company,9997,NaN,Top-candidate,top candidate,/company/top-candidate,search,operating,...,NaN,NaN,NaN,1.0,NaN,2008-08-24 16:00:22,2013-06-28 20:56:44,34.052234,-118.243685,NaN
196552,c:9998,196552,Company,9998,NaN,Closet Couture,closet couture,/company/closet-couture,ecommerce,operating,...,2006-07-01,2008-09-10,2.0,1.0,NaN,2008-08-24 16:46:13,2013-03-23 12:01:50,34.035633,-118.515590,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
company.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [ ]:
company.describe()

,Unnamed: 0.1,entity_id,parent_id,logo_width,logo_height,investment_rounds,invested_companies,funding_rounds,funding_total_usd,milestones,relationships,lat,lng,ROI
count,196553.000000,196553.000000,0.0,110110.000000,110110.000000,2591.000000,2591.000000,31707.000000,2.787400e+04,91699.000000,129667.000000,83852.000000,83852.000000,726.000000
mean,98276.000000,153006.227333,NaN,459.132685,222.728917,2.372057,2.204940,1.659760,1.481652e+07,1.199402,2.852067,37.564512,-52.123066,45.745037
std,56740.108067,90209.250941,NaN,594.982577,333.090722,12.173510,11.436955,1.201666,6.775937e+07,0.540099,9.100309,15.477102,70.049067,572.035638
min,0.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,2.910000e+02,1.000000,1.000000,-50.942326,-159.497746,0.011111
25%,49138.000000,59850.000000,NaN,192.000000,70.000000,1.000000,1.000000,1.000000,5.000000e+05,1.000000,1.000000,34.052234,-111.940005,2.648879
50%,98276.000000,174539.000000,NaN,267.000000,105.000000,1.000000,1.000000,1.000000,2.564500e+06,1.000000,1.000000,39.768403,-77.036871,6.500497
75%,147414.000000,232655.000000,NaN,484.000000,232.000000,1.000000,1.000000,2.000000,1.100000e+07,1.000000,3.000000,45.421530,-0.127758,13.549900
max,196552.000000,286215.000000,NaN,18200.000000,9600.000000,478.000000,459.000000,15.000000,5.700000e+09,9.000000,1189.000000,77.553604,176.212549,13333.333333

In [ ]:

company.columns

Index(['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'short_description', 'description',
       'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at', 'lat', 'lng', 'ROI'],
      dtype='object')

In [ ]:
# Nombre total de lignes
total_rows = len(company)

# Nombre de NaN dans parent_id
nan_parent = company['parent_id'].isna().sum()

print(f"Valeurs manquantes dans parent_id : {nan_parent}")
print(f"Proportion manquante : {nan_parent/total_rows:.2%}")

Valeurs manquantes dans parent_id : 196553
Proportion manquante : 100.00%

## A. Data Cleaning
    1. Delete irrelevant & redundant information.
    2. Remove noise or unreliable data (missing values and outliers).
    
### 1. Delete irrelevant and redundant information
     a. Delete 'region','city','state_code' as they provide too much of granularity.
     b. Delete 'id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'created_by',
       'created_at', 'updated_at' as they are redundant.
     c. Delete 'domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width', 'logo_height',           
        'short_description', 'description', 'overview','tag_list', 'name', 'normalized_name', 'permalink',    
        'invested_companies' as they are irrelevant features.
     d. Delete duplicate values if any.
     e. Delete those which has more than 98% of null values.
     
### 2. Remove noise or unreliable data (missing values and outliers)
     a. Delete instances with missing values for 'status', 'country_code', 'category_code' and 'founded_at'.
     b. Delete outliers for 'funding_total_usd' and 'funding_rounds'.
     c. Delete contradictory (mutually opposed or inconsistent data).

#### 1.a. Delete 'region','city' as they provide too much of granularity.

In [ ]:
company.drop(columns=['region', 'city', 'state_code'], inplace=True, errors='ignore')

#### 1.b. Delete 'id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'created_by', 'created_at', 'updated_at' as they are redundant.

In [ ]:
redundant_cols = ['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id',
                  'created_by', 'created_at', 'updated_at']
company.drop(columns=redundant_cols, inplace=True, errors='ignore')

#### 1.c. Delete 'domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width', 'logo_height',  'short_description',    'description',  'overview','tag_list', 'name', 'normalized_name', 'permalink', 'invested_companies' as they are irrelevant features.

In [ ]:
irrelevant_cols = ['domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width',
                   'logo_height', 'short_description', 'description', 'overview', 'tag_list',
                   'name', 'normalized_name', 'permalink', 'invested_companies']
company.drop(columns=irrelevant_cols, inplace=True, errors='ignore')

#### 1.d. Delete duplicate values if found any.

In [ ]:
company.drop_duplicates(inplace=True)

In [ ]:
duplicate_count = company.duplicated().sum()
print(f"Total number of duplicate rows in the dataset: {duplicate_count}")

Total number of duplicate rows in the dataset: 0

In [ ]:
# check if any left
duplicates_remaining = company.duplicated().sum()
print(f"Number of duplicate rows remaining: {duplicates_remaining}")

Number of duplicate rows remaining: 0

#### 1.e. Delete those which has more than 98% of null values.

In [ ]:
company.head(35)

,category_code,status,founded_at,closed_at,country_code,first_investment_at,last_investment_at,investment_rounds,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,web,operating,2005-10-17,NaN,USA,NaN,NaN,NaN,2005-10-01,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,games_video,acquired,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,34.021122,-118.396467,NaN
2,games_video,acquired,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,network_hosting,operating,2008-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,games_video,operating,2008-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,advertising,operating,2007-06-27,NaN,MAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,30.427755,-9.598107,NaN
6,cleantech,operating,2008-08-20,NaN,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.307159,73.181219,NaN
7,NaN,operating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-06-20,2011-06-20,1.0,1.0,NaN,NaN,NaN
8,advertising,operating,NaN,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-06-01,1999-06-01,1.0,2.0,40.712775,-74.005973,NaN
9,enterprise,operating,2011-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-08-01,2011-08-01,1.0,2.0,NaN,NaN,NaN
10,games_video,operating,2011-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-04-09,2012-04-09,1.0,NaN,NaN,NaN,NaN
11,other,operating,2007-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,advertising,operating,2008-08-01,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-22,2008-08-22,1.0,2.0,35.686975,-105.937799,NaN
13,web,acquired,2007-10-01,NaN,USA,NaN,NaN,NaN,2008-02-26,2008-02-26,1.0,5000000.0,2008-05-01,2012-09-13,3.0,14.0,37.386052,-122.083851,9.5
14,games_video,operating,2007-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
15,games_video,operating,2008-01-01,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-01,2008-01-01,1.0,3.0,33.078655,-116.601964,NaN
16,games_video,closed,2008-08-22,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
17,consulting,operating,2008-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
18,mobile,acquired,2008-03-01,NaN,USA,NaN,NaN,NaN,2008-09-01,2008-09-01,1.0,NaN,1995-03-01,2012-09-18,4.0,9.0,37.441883,-122.143019,NaN
19,health,operating,2007-10-01,NaN,USA,NaN,NaN,NaN,2008-10-10,2013-08-13,5.0,68069200.0,NaN,NaN,NaN,14.0,37.774929,-122.419415,NaN
20,cleantech,operating,2003-01-01,NaN,USA,NaN,NaN,NaN,2011-03-08,2012-01-26,3.0,10125293.0,2010-01-01,2010-01-01,1.0,6.0,30.267153,-97.743061,NaN
21,other,operating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,software,operating,2011-01-25,NaN,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-01-01,2011-01-01,1.0,2.0,49.050438,-122.304470,NaN
23,web,operating,2009-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
24,analytics,operating,2006-01-01,NaN,USA,NaN,NaN,NaN,2008-08-25,2013-03-28,3.0,33000000.0,2010-05-18,2013-03-01,3.0,19.0,37.774929,-122.419415,NaN
25,software,operating,2011-01-01,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.774929,-122.419415,NaN
26,mobile,operating,2003-11-01,NaN,AUS,NaN,NaN,NaN,2003-11-01,2003-11-01,1.0,250000.0,2007-11-01,2007-11-01,1.0,2.0,-27.469771,153.025124,NaN
27,NaN,operating,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,network_hosting,operating,2008-01-01,NaN,IND,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0,28.613939,77.209021,NaN
29,NaN,operating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,consulting,operating,2009-10-01,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-03-01,2009-03-01,1.0,2.0,37.774929,-122.419415,NaN
31,finance,operating,2012-05-22,NaN,USA,2012-12-27,2013-09-24,3.0,NaN,NaN,NaN,NaN,2012-04-01,2013-12-11,4.0,3.0,36.031858,-84.027655,NaN
32,education,operating,2010-10-01,NaN,USA,NaN,NaN,NaN,2011-04-16,2011-04-16,1.0,100000.0,2010-10-01,2010-10-01,1.0,NaN,NaN,NaN,NaN
33,advertising,operating,2005-01-01,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.878114,-87.629798,NaN
34,advertising,operating,2004-09-01,NaN,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-09-01,2004-09-01,1.0,1.0,-35.296256,139.038277,NaN

In [ ]:
total_rows = len(company)
nan_rows = company.isna().any(axis=1).sum()
print(f"Proportion de lignes avec NaN : {nan_rows/total_rows:.2%}")

Proportion de lignes avec NaN : 100.00%

In [ ]:
# # Since we can see only nan values so et's check how much of ros has nan values.
rows_with_nan = company.isnull().any(axis=1).sum()
print(f"Number of rows with at least one NaN value: {rows_with_nan}")

Number of rows with at least one NaN value: 109464

In [ ]:
# # Since we can see it has more than 96% of null values, it would not make sense to impute these data. So, lets drop it.
null_threshold = 0.96
null_ratio = company.isnull().mean()
columns_to_drop = null_ratio[null_ratio > null_threshold].index
company.drop(columns=columns_to_drop, inplace=True)
print(f"Dropped columns with more than {null_threshold * 100}% missing values:")
print(list(columns_to_drop))

Dropped columns with more than 96.0% missing values:
['closed_at', 'first_investment_at', 'last_investment_at', 'investment_rounds', 'ROI']

# **Dropping Columns with Excessive Missing Values**

This code removes columns from the dataset where more than 96% of the data is missing **(`NaN`)**.  
Dropping these columns improves data quality by eliminating features with insufficient information.

It then prints the list of dropped columns for reference.

#### 2.a. Delete instances with missing values for 'status', 'country_code', 'category_code' and 'founded_at'.
    (Since these are the type of data where adding value via imputation will create wrong pattern only)

In [ ]:
# Delete instances with missing values for 'status', 'country_code', 'category_code', and 'founded_at'
company.dropna(subset=['status', 'country_code', 'category_code', 'founded_at'], inplace=True)
print(f"Shape after deleting rows with missing values in key columns: {company.shape}")

Shape after deleting rows with missing values in key columns: (63585, 14)

In [ ]:
# Since we can see only nan values so et's check how much of rows has nan values.
rows_with_nan = company.isnull().any(axis=1).sum()
print(f"Number of rows with at least one NaN value: {rows_with_nan}")

Number of rows with at least one NaN value: 51259

In [ ]:
company

,category_code,status,founded_at,country_code,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng
0,web,operating,2005-10-17,USA,2005-10-01,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071
5,advertising,operating,2007-06-27,MAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,30.427755,-9.598107
6,cleantech,operating,2008-08-20,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.307159,73.181219
12,advertising,operating,2008-08-01,USA,NaN,NaN,NaN,NaN,2008-08-22,2008-08-22,1.0,2.0,35.686975,-105.937799
13,web,acquired,2007-10-01,USA,2008-02-26,2008-02-26,1.0,5000000.0,2008-05-01,2012-09-13,3.0,14.0,37.386052,-122.083851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,ecommerce,operating,2007-01-01,USA,NaN,NaN,NaN,NaN,2013-08-12,2013-08-12,2.0,5.0,37.774929,-122.419415
196549,public_relations,operating,2007-11-01,USA,2008-08-25,2008-08-25,1.0,750000.0,2013-05-01,2013-05-01,1.0,14.0,37.338208,-121.886329
196550,consulting,operating,1959-01-01,USA,NaN,NaN,NaN,NaN,2012-01-01,2013-10-30,3.0,44.0,38.882334,-77.171091
196551,search,operating,2008-07-01,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,34.052234,-118.243685
196552,ecommerce,operating,2007-09-01,USA,2008-06-01,2008-06-01,1.0,475000.0,2006-07-01,2008-09-10,2.0,1.0,34.035633,-118.515590

#### 2.b. Delete outliers for 'funding_total_usd' and 'funding_rounds'.

In [ ]:
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
company['funding_total_usd'] = pd.to_numeric(company['funding_total_usd'], errors='coerce')
company['funding_rounds'] = pd.to_numeric(company['funding_rounds'], errors='coerce')
company = remove_outliers_iqr(company, 'funding_total_usd')
company = remove_outliers_iqr(company, 'funding_rounds')
print(f"Shape after removing outliers: {company.shape}")

Shape after removing outliers: (16880, 14)

# **Outlier Removal Using the IQR Method**

This code defines a function to remove outliers from a specified numeric column based on the Interquartile Range **(IQR)** method.  
It converts relevant columns to numeric types, then filters the dataset to exclude rows where values in **`'funding_total_usd'`** and **`'funding_rounds'`** fall outside the typical range.

Finally, it prints the shape of the cleaned dataset after outlier removal.

### Summary:
If you can see the outlier in both 'funding_total_usd' and 'funding_rounds'. So, let's find them and drop it.

    1. Find the IQR (Interquartile Range)
    2. Find the upper and lower limit
    3. Find outliers
    4. Drop them
    5. Compare the plots after trimming

#### 2.b.1. Find the IQR

# **For funding_total_usd**

In [ ]:
Q1_funding = company['funding_total_usd'].quantile(0.25)
Q3_funding = company['funding_total_usd'].quantile(0.75)
IQR_funding = Q3_funding - Q1_funding
print("Funding Total USD:")
print(f"Q1 = {Q1_funding}")
print(f"Q3 = {Q3_funding}")
print(f"IQR = {IQR_funding}")

Funding Total USD:
Q1 = 390766.5
Q3 = 6000000.0
IQR = 5609233.5

# **Funding Total USD Summary**

- First Quartile **(Q1)** : **390,766.5**
- Third Quartile **(Q3)** : **6,000,000.0**
- Interquartile Range **(IQR)** : **5,609,233.5**  

These values describe the distribution of funding amounts, where the **IQR** represents the range between the **25th** and **75th** percentile.

#**For funding_rounds**

In [ ]:
Q1_rounds = company['funding_rounds'].quantile(0.25)
Q3_rounds = company['funding_rounds'].quantile(0.75)
IQR_rounds = Q3_rounds - Q1_rounds
print("\nFunding Rounds:")
print(f"Q1 = {Q1_rounds}")
print(f"Q3 = {Q3_rounds}")
print(f"IQR = {IQR_rounds}")

Funding Rounds:
Q1 = 1.0
Q3 = 2.0
IQR = 1.0

# **Funding Rounds Summary**

- First Quartile **(Q1)** : **1.0**
- Third Quartile **(Q3)** : **2.0**  
- Interquartile Range **(IQR)** : **1.0**

This indicates that most companies have between 1 and 2 funding rounds, with an interquartile spread of 1 round.

# **IQR Calculation for Funding Data**

This code calculates and displays the key statistics used for outlier detection via the Interquartile Range (IQR) method on two columns:  
- **funding_total_usd**  
- **funding_rounds**  

For each column, it computes:  
- The first quartile (Q1)  
- The third quartile (Q3)  
- The interquartile range (IQR = Q3 - Q1)  

These values help identify typical data ranges and detect outliers beyond 1.5 * IQR from the quartiles.

#### 2.b.1. Find the Upper and Lower limit

In [ ]:
# For funding_total_usd
lower_limit_funding = Q1_funding - 1.5 * IQR_funding
upper_limit_funding = Q3_funding + 1.5 * IQR_funding
print("Funding Total USD Limits:")
print(f"Lower limit = {lower_limit_funding}")
print(f"Upper limit = {upper_limit_funding}")
# For funding_rounds
lower_limit_rounds = Q1_rounds - 1.5 * IQR_rounds
upper_limit_rounds = Q3_rounds + 1.5 * IQR_rounds
print("\nFunding Rounds Limits:")
print(f"Lower limit = {lower_limit_rounds}")
print(f"Upper limit = {upper_limit_rounds}")

Funding Total USD Limits:
Lower limit = -8023083.75
Upper limit = 14413850.25

Funding Rounds Limits:
Lower limit = -0.5
Upper limit = 3.5

In [ ]:
# Remplacer les valeurs négatives par 0 dans funding_total_usd
company['funding_total_usd'] = company['funding_total_usd'].apply(lambda x: 0 if x < 0 else x)
# Afficher les valeurs uniques
print(company['funding_total_usd'].unique())

[ 5000000. 10125293.   250000. ...  5387632.  5172349.   798679.]

# **IQR-Based Outlier Limits for Funding Data**

This code calculates the lower and upper bounds used to detect outliers based on the Interquartile Range (IQR) for two columns:  
- **funding_total_usd**  
- **funding_rounds**  

The limits are calculated as:  
- Lower limit = Q1 - 1.5 * IQR
- Upper limit = Q3 + 1.5 * IQR  

Values outside these limits are considered outliers for the respective columns.

#### 2.b.1.  Find outliers

In [ ]:
# --- Funding Total USD ---
total_funding_rows = company['funding_total_usd'].shape[0]  # taille de la colonne
outliers_funding = company[(company['funding_total_usd'] < lower_limit_funding) |
                           (company['funding_total_usd'] > upper_limit_funding)]
print(f"Total rows in 'funding_total_usd': {total_funding_rows}")
print(f"Number of outliers in 'funding_total_usd': {outliers_funding.shape[0]}")

# --- Funding Rounds ---
total_rounds_rows = company['funding_rounds'].shape[0]  # taille de la colonne
outliers_rounds = company[(company['funding_rounds'] < lower_limit_rounds) |
                          (company['funding_rounds'] > upper_limit_rounds)]
print(f"\nTotal rows in 'funding_rounds': {total_rounds_rows}")
print(f"Number of outliers in 'funding_rounds': {outliers_rounds.shape[0]}")

Total rows in 'funding_total_usd': 15257
Number of outliers in 'funding_total_usd': 0

Total rows in 'funding_rounds': 15257
Number of outliers in 'funding_rounds': 0

# **Counting Outliers in Funding Columns**

This code identifies and counts the number of outlier rows in the DataFrame for two columns:

- **`funding_total_usd`:** rows where values are below the lower limit or above the upper limit calculated with the IQR method.
- **`funding_rounds`:** rows where values are below the lower limit or above the upper limit similarly calculated.

It prints the total count of such outliers for each column.

#### 2.b.1. Drop the outliers

In [ ]:
# For funding_total_usd
company = company[(company['funding_total_usd'] >= lower_limit_funding) &
                  (company['funding_total_usd'] <= upper_limit_funding)]
# For funding_rounds
company = company[(company['funding_rounds'] >= lower_limit_rounds) &
                  (company['funding_rounds'] <= upper_limit_rounds)]

In [ ]:
# Select all numeric columns in the DataFrame
num_cols = company.select_dtypes(include=[np.number]).columns

# Remove outliers for each numeric column using the IQR method
for col in num_cols:
    # Calculate the 1st quartile (Q1) and 3rd quartile (Q3)
    Q1 = company[col].quantile(0.25)
    Q3 = company[col].quantile(0.75)

    # Compute the Interquartile Range (IQR)
    IQR = Q3 - Q1

    # Define the lower and upper bounds for outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Keep only rows where the value is within the bounds
    company = company[(company[col] >= lower_bound) & (company[col] <= upper_bound)]

# Print the shape of the DataFrame after removing outliers
print(f"Shape after removing outliers from all numeric columns: {company.shape}")

Shape after removing outliers from all numeric columns: (6842, 14)

In [ ]:
company

,category_code,status,founded_at,country_code,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng
20,cleantech,operating,2003-01-01,USA,2011-03-08,2012-01-26,3.0,10125293.0,2010-01-01,2010-01-01,1.0,6.0,30.267153,-97.743061
45,enterprise,operating,2004-01-01,USA,2011-09-06,2011-09-06,1.0,1500000.0,2010-01-01,2010-01-01,1.0,8.0,47.610150,-122.201516
48,web,operating,2006-01-01,USA,2007-10-01,2007-10-01,1.0,2500000.0,2010-07-01,2012-05-01,2.0,7.0,37.774929,-122.419415
74,games_video,operating,2011-01-01,USA,2011-11-04,2011-11-04,1.0,40000.0,2012-12-01,2012-12-01,1.0,5.0,37.774929,-122.419415
93,web,operating,2007-11-08,USA,2007-11-01,2007-11-01,1.0,350000.0,2008-09-10,2008-09-10,1.0,2.0,37.452960,-122.181725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196517,enterprise,operating,2011-01-01,USA,2011-09-08,2011-09-08,1.0,750000.0,2011-06-01,2011-06-01,1.0,3.0,47.751074,-120.740139
196526,mobile,closed,2008-05-22,USA,2008-05-18,2008-05-18,1.0,130000.0,2008-08-03,2009-09-01,2.0,3.0,37.774929,-122.419415
196537,social,operating,2011-01-11,CAN,2011-09-06,2011-09-06,1.0,500000.0,2011-01-11,2011-01-11,1.0,2.0,28.805267,-97.003598
196540,games_video,closed,2006-06-01,USA,2008-03-12,2009-02-01,2.0,1100000.0,2005-11-01,2008-09-10,2.0,4.0,37.774929,-122.419415
196552,ecommerce,operating,2007-09-01,USA,2008-06-01,2008-06-01,1.0,475000.0,2006-07-01,2008-09-10,2.0,1.0,34.035633,-118.515590

#### 2.c. Delete contradictory (mutually opposed or inconsistent data).

In [ ]:
print(company['founded_at'].head(20).to_list())

['2003-01-01', '2004-01-01', '2006-01-01', '2011-01-01', '2007-11-08', '2008-01-01', '2007-01-01', '2007-04-27', '2009-03-01', '2011-06-01', '2011-04-01', '1997-01-01', '2011-07-01', '2008-07-08', '2008-02-01', '2009-03-01', '2007-08-01', '2011-03-01', '2007-06-08', '2007-01-01']

In [ ]:
import pandas as pd
import datetime
company['founded_at'] = pd.to_datetime(company['founded_at'], errors='coerce')
company['founded_year'] = company['founded_at'].dt.year
current_year = datetime.datetime.now().year
company = company[(company['founded_year'].isna()) | (company['founded_year'] <= current_year)]
company = company[~((company['funding_rounds'] > 0) & (company['funding_total_usd'] == 0))]
print("Contradictory data cleaned except those related to 'closed_at'.")
print(company['founded_year'].describe())
print(company['founded_year'].value_counts(dropna=False).head(10))

Contradictory data cleaned except those related to 'closed_at'.
count    6842.000000
mean     2008.531424
std         5.233975
min      1908.000000
25%      2007.000000
50%      2010.000000
75%      2011.000000
max      2014.000000
Name: founded_year, dtype: float64
founded_year
2011    1385
2012    1132
2010    1073
2009     706
2008     490
2007     451
2013     314
2006     294
2005     170
2004     131
Name: count, dtype: int64

# **Data Cleaning: Founded Year and Funding Consistency**

This code cleans the dataset by:
- Converting **`founded_at`** to datetime and extracting the year as **`founded_year`**.
- Removing rows where **`founded_year`** is in the future (greater than the current year).
- Removing rows with logical contradictions: companies having funding rounds **(`funding_rounds` > 0)** but zero total funding **(`funding_total_usd` == 0)**.
- Printing summary statistics and the top 10 most frequent founded years.

It ensures data consistency, except for contradictions related to **`closed_at`**, which are handled later.

# B. Date Transformation
    It can be divided into two successive phases.
   ## 1. Changes in original data
        a. Convert founded_at, closed_at, first_funded_at, last_funding_at, first_milestone_at ,
           last_milestone_at to years.
        b. Generalize the categorical data i.e. category_code, status and category_code.
   ## 2. Create new variables
        a. Create new feature isClosed from closed_at and status.
        b. Create new feature 'active_days'

#### 1.a. Convert founded_at, closed_at, first_funded_at, last_funding_at, first_milestone_at , last_milestone_at to years.

In [ ]:
date_columns = ['founded_at', 'closed_at', 'first_investment_at', 'last_investment_at',
                'first_milestone_at', 'last_milestone_at']
for col in date_columns:
    if col in company.columns:
        company[col] = pd.to_datetime(company[col], errors='coerce').dt.year
    else:
        print(f"Column '{col}' does not exist in the DataFrame and was skipped.")

Column 'closed_at' does not exist in the DataFrame and was skipped.
Column 'first_investment_at' does not exist in the DataFrame and was skipped.
Column 'last_investment_at' does not exist in the DataFrame and was skipped.

 #### 1.b. Generalize the categorical data i.e. category_code and  country_code

In [ ]:
category_counts = company['category_code'].value_counts()
threshold = 100
main_categories = category_counts[category_counts >= threshold].index.tolist()
company['category_code_generalized'] = company['category_code'].apply(
    lambda x: x if x in main_categories else 'other'
)
print(company['category_code_generalized'].value_counts())

category_code_generalized
other          1377
software       1128
web             877
mobile          645
ecommerce       467
enterprise      454
games_video     370
advertising     368
social          248
analytics       216
education       164
hardware        157
biotech         147
finance         120
health          104
Name: count, dtype: int64

# **Generalizing Categories by Frequency Threshold**

This code simplifies the `category_code` column by keeping only categories with at least 100 occurrences.  
All less frequent categories are grouped under 'other' to reduce complexity.  
The result shows the count of each generalized category.

In [ ]:
# Since there are 42 categories, one-hot encoding will create many columns, so...
category_counts = company['category_code'].value_counts(ascending=True)
top_10_categories = company['category_code'].value_counts().nlargest(10).index.tolist()
company['category_code_generalized'] = company['category_code'].apply(
    lambda x: x if x in top_10_categories else 'other'
)
print(company['category_code_generalized'].value_counts())

category_code_generalized
other          1905
software       1128
web             877
mobile          645
ecommerce       467
enterprise      454
games_video     370
advertising     368
social          248
analytics       216
education       164
Name: count, dtype: int64

# **Group categories into top 10 and "other"**

Keep only the 10 most frequent categories as-is; replace all others with "other" to reduce the number of distinct categories.

In [ ]:
if company.shape[1] > 15:
    print(f"The DataFrame has {company.shape[1]} columns, which is more than 15.")
else:
    print(f"The DataFrame has {company.shape[1]} columns, which is 15 or less.")

The DataFrame has 16 columns, which is more than 15.

In [ ]:
# One-hot encoding for 'category_code_generalized'
category_dummies = pd.get_dummies(company['category_code_generalized'], prefix='category').astype(int)
company = pd.concat([company, category_dummies], axis=1)
company.drop(columns=['category_code_generalized'], inplace=True)
print(company.filter(like='category_').head())

   category_code  category_advertising  category_analytics  \
20     cleantech                     0                   0
45    enterprise                     0                   0
48           web                     0                   0
74   games_video                     0                   0
93           web                     0                   0

    category_ecommerce  category_education  category_enterprise  \
20                   0                   0                    0
45                   0                   0                    1
48                   0                   0                    0
74                   0                   0                    0
93                   0                   0                    0

    category_games_video  category_mobile  category_other  category_social  \
20                     0                0               1                0
45                     0                0               0                0
48                     0                0               0                0
74                     1                0               0                0
93                     0                0               0                0

    category_software  category_web
20                  0             0
45                  0             0
48                  0             1
74                  0             0
93                  0             1

# **One-hot encode the generalized category codes and update the DataFrame**

This process converts the simplified 'category_code_generalized' column into binary indicator columns for each category, merges them into the main DataFrame, then removes the original generalized category column to avoid redundancy.

In [ ]:
if 'category_code' in company.columns:
    category_dummies = pd.get_dummies(company['category_code'], prefix='category').astype(int)
    company = pd.concat([company, category_dummies], axis=1)
else:
    print("Column 'category_code' not found in DataFrame.")

# **One-hot encode the 'category_code' column and merge it with the original DataFrame**

This code transforms the categorical 'category_code' into multiple binary columns representing each category, then adds these new columns to the existing dataset. If the column is missing, it alerts the user.

In [ ]:
if 'category_code' in company.columns:
    company.drop(columns=['category_code'], inplace=True)
    print("Original 'category_code' column deleted.")
else:
    print("'category_code' column not found, nothing to delete.")

Original 'category_code' column deleted.

# **Explanation of Deleting the Original 'category_code' Column**

- Checks if the column **`'category_code'`** exists in the DataFrame **`company`**.
- If it exists, drops the column and prints a confirmation message.
- If it does not exist, prints a message indicating nothing was deleted.

This step is typically done after creating new features from **`'category_code'`** (e.g., one-hot encoding or generalization) to avoid redundant data.

### Let's encode 'country' column now.

In [ ]:
country_counts = company['country_code'].value_counts()
top_10_countries = country_counts.nlargest(10).index.tolist()
company['country_code_generalized'] = company['country_code'].apply(
    lambda x: x if x in top_10_countries else 'other'
)
print(company['country_code_generalized'].value_counts())

country_code_generalized
USA      4778
other     602
GBR       471
CAN       267
FRA       152
ISR       136
DEU       130
ESP       122
IRL        65
RUS        62
NLD        57
Name: count, dtype: int64

# **Explanation of Country Code Generalization**

- Counts the occurrences of each unique value in the **`country_code`** column.
- Extracts the 10 most frequent country codes as **`top_10_countries`**.
- Creates a new column **`country_code_generalized`** where:
  - Country codes in the top 10 remain unchanged.
  - All other country codes are replaced with **`'other'`**.
- Prints the distribution of values in the new generalized column.

This approach helps reduce the cardinality of categorical variables by grouping rare categories under a common label, which simplifies analysis and modeling.

In [ ]:
top_10_countries = company['country_code'].value_counts().nlargest(10).index.tolist()
company['country_code'] = company['country_code'].apply(
    lambda x: x if x in top_10_countries else 'other'
)
print(company['country_code'].value_counts())

country_code
USA      4778
other     602
GBR       471
CAN       267
FRA       152
ISR       136
DEU       130
ESP       122
IRL        65
RUS        62
NLD        57
Name: count, dtype: int64

# **Interpretation of Grouping Country Codes**

- Identifies the 10 most frequent country codes in the **`country_code`** column.
- Replaces all country codes not in the top 10 with the label **`'other'`**.
- This reduces the number of distinct categories, simplifying the dataset and reducing sparsity.
- Prints the count of each country code after grouping to show the new distribution.

This technique helps manage categorical variables with many rare categories by consolidating them into a single "other" category.

In [ ]:
country_dummies = pd.get_dummies(company['country_code'], prefix='country').astype(int)
company = pd.concat([company, country_dummies], axis=1)
company.drop(columns=['country_code'], inplace=True)
print(company.filter(like='country_').head())

   country_code_generalized  country_CAN  country_DEU  country_ESP  \
20                      USA            0            0            0
45                      USA            0            0            0
48                      USA            0            0            0
74                      USA            0            0            0
93                      USA            0            0            0

    country_FRA  country_GBR  country_IRL  country_ISR  country_NLD  \
20            0            0            0            0            0
45            0            0            0            0            0
48            0            0            0            0            0
74            0            0            0            0            0
93            0            0            0            0            0

    country_RUS  country_USA  country_other
20            0            1              0
45            0            1              0
48            0            1              0
74            0            1              0
93            0            1              0

# **Interpretation of One-Hot Encoding for 'country_code'**

- Converts the categorical **`country_code`** column into multiple binary **(0/1)** columns using one-hot encoding.
- Each unique country code becomes a new column prefixed with **`country_`**.
- The new dummy columns are explicitly cast to integers for consistency.
- The original **`country_code`** column is dropped since its information is now represented in the dummy variables.
- Prints the first few rows of the new one-hot encoded country columns to verify the transformation.

### 2. Create new variables¶
    a. Create new feature isClosed from closed_at and status.
    b. Create new feature 'active_days'

#### 2.a. Create new feature isClosed from closed_at and status.
     - if the value in status is 'operating' or 'ipo', Let's put 1.
     - Where as if the value is 'acquired' or 'closed', let's put 0.

In [ ]:
print(company.columns)

Index(['status', 'founded_at', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'lat', 'lng',
       'founded_year', 'category_advertising', 'category_analytics',
       'category_ecommerce', 'category_education', 'category_enterprise',
       'category_games_video', 'category_mobile', 'category_other',
       'category_social', 'category_software', 'category_web',
       'category_advertising', 'category_analytics', 'category_automotive',
       'category_biotech', 'category_cleantech', 'category_consulting',
       'category_design', 'category_ecommerce', 'category_education',
       'category_enterprise', 'category_fashion', 'category_finance',
       'category_games_video', 'category_government', 'category_hardware',
       'category_health', 'category_hospitality', 'category_legal',
       'category_local', 'category_manufacturing', 'category_medical',
       'category_messaging', 'category_mobile', 'category_music',
       'category_nanotech', 'category_network_hosting', 'category_news',
       'category_nonprofit', 'category_other', 'category_pets',
       'category_photo_video', 'category_public_relations',
       'category_real_estate', 'category_search', 'category_security',
       'category_semiconductor', 'category_social', 'category_software',
       'category_sports', 'category_transportation', 'category_travel',
       'category_web', 'country_code_generalized', 'country_CAN',
       'country_DEU', 'country_ESP', 'country_FRA', 'country_GBR',
       'country_IRL', 'country_ISR', 'country_NLD', 'country_RUS',
       'country_USA', 'country_other'],
      dtype='object')

In [ ]:
company['isClosed'] = company['status'].isin(['operating', 'ipo']).astype(int)
print(company[['status', 'isClosed']].head())

       status  isClosed
20  operating         1
45  operating         1
48  operating         1
74  operating         1
93  operating         1

In [ ]:
unique_values = company['isClosed'].unique()
print(f"Unique values in 'isClosed': {unique_values}")
value_counts = company['isClosed'].value_counts(dropna=False)
print("\nCounts of each unique value in 'isClosed':")
print(value_counts)

Unique values in 'isClosed': [1 0]

Counts of each unique value in 'isClosed':
isClosed
1    5812
0    1030
Name: count, dtype: int64

#### 2.b. Create active_days
     i. Replacing values:
         -  if the value in status is 'operating' or 'ipo' in closed_at, Let's put 2021.
         - Where as if the value is 'acquired' or 'closed', let's put 0.
     ii. Subtract founded_date from closed_date, and calculate age in days (After calculating active days,
         check contradictory issues we didn't check it before).
     iii. Then, delete the closed_at column.

##### 2.b.i  Replacing the values in closed_at column
   - if the value in status is 'operating' or 'ipo' in closed_at, Let's put 2021.
   - Where as if the value is 'acquired' or 'closed', let's put 0.

In [ ]:
company['closed_at'] = company['status'].apply(lambda x: 2021 if x in ['operating', 'ipo'] else (0 if x in ['acquired', 'closed'] else np.nan))

In [ ]:
unique_values = company['closed_at'].unique()
print(f"Unique values in 'closed_at': {unique_values}")
value_counts = company['closed_at'].value_counts(dropna=False)
print("\nCounts of each unique value in 'closed_at':")
print(value_counts)

Unique values in 'closed_at': [2021    0]

Counts of each unique value in 'closed_at':
closed_at
2021    5812
0       1030
Name: count, dtype: int64

##### 2.b.ii Subtract founded_date from closed_date, and calculate age in days (After calculating active days, check contradictory issues we didn't check it before.)

In [ ]:
print("Type of founded_at:", company['founded_at'].dtype)
print("Type of closed_at:", company['closed_at'].dtype)

Type of founded_at: int32
Type of closed_at: int64

In [ ]:
print(company['founded_at'].unique())
company.head(20)

[2003 2004 2006 2011 2007 2008 2009 1997 1998 2010 2012 2001 2000 2005
 1989 2002 1999 1985 1996 1991 1995 1974 1967 1978 1988 2013 1990 1993
 1992 1960 1961 1994 1987 1981 1983 1984 1980 1971 1979 2014 1973 1968
 1937 1945 1944 1919 1955 1969 1986 1982 1911 1930 1908]

,status,founded_at,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,...,country_FRA,country_GBR,country_IRL,country_ISR,country_NLD,country_RUS,country_USA,country_other,isClosed,closed_at
20,operating,2003,2011-03-08,2012-01-26,3.0,10125293.0,2010,2010,1.0,6.0,...,0,0,0,0,0,0,1,0,1,2021
45,operating,2004,2011-09-06,2011-09-06,1.0,1500000.0,2010,2010,1.0,8.0,...,0,0,0,0,0,0,1,0,1,2021
48,operating,2006,2007-10-01,2007-10-01,1.0,2500000.0,2010,2012,2.0,7.0,...,0,0,0,0,0,0,1,0,1,2021
74,operating,2011,2011-11-04,2011-11-04,1.0,40000.0,2012,2012,1.0,5.0,...,0,0,0,0,0,0,1,0,1,2021
93,operating,2007,2007-11-01,2007-11-01,1.0,350000.0,2008,2008,1.0,2.0,...,0,0,0,0,0,0,1,0,1,2021
103,operating,2008,2012-02-29,2012-02-29,1.0,3100000.0,2009,2012,3.0,5.0,...,0,0,0,0,0,0,1,0,1,2021
120,closed,2007,2007-01-01,2007-01-01,1.0,100000.0,2009,2009,1.0,1.0,...,0,0,0,0,0,0,1,0,0,0
130,operating,2007,2008-06-26,2008-06-26,1.0,280000.0,2008,2009,2.0,2.0,...,0,0,0,0,0,0,1,0,1,2021
165,operating,2009,2011-06-01,2011-06-01,1.0,720000.0,2010,2010,1.0,3.0,...,0,0,0,0,0,1,0,0,1,2021
170,acquired,2011,2011-07-01,2013-03-25,3.0,4000000.0,2012,2013,2.0,7.0,...,0,0,0,0,0,0,1,0,0,0
171,operating,2011,2011-07-01,2013-05-31,3.0,3268000.0,2013,2013,1.0,9.0,...,0,0,0,0,0,0,1,0,1,2021
172,operating,1997,2007-05-29,2007-05-29,1.0,8500000.0,2009,2009,1.0,2.0,...,0,0,0,0,0,0,1,0,1,2021
177,acquired,2011,2011-07-01,2011-07-01,1.0,250000.0,2011,2011,1.0,2.0,...,0,0,0,0,0,0,1,0,0,0
181,acquired,2008,2008-07-15,2010-02-01,3.0,1310000.0,2011,2013,2.0,12.0,...,0,0,0,0,0,0,1,0,0,0
217,operating,2008,2009-05-15,2009-05-15,1.0,1000000.0,2008,2009,2.0,3.0,...,0,0,0,0,0,0,1,0,1,2021
227,operating,2009,2009-05-01,2011-06-30,2.0,3500000.0,2008,2011,3.0,9.0,...,0,0,0,0,0,0,0,1,1,2021
250,operating,2007,2008-01-01,2008-01-01,1.0,500000.0,2007,2011,2.0,6.0,...,0,0,0,0,0,0,1,0,1,2021
258,operating,2011,2011-03-01,2011-03-01,1.0,100000.0,2011,2011,2.0,1.0,...,0,0,0,0,0,0,1,0,1,2021
296,acquired,2007,2008-03-15,2010-04-15,2.0,1750000.0,2007,2010,2.0,3.0,...,0,0,0,0,0,0,1,0,0,0
342,operating,2007,2007-01-01,2007-01-01,1.0,150000.0,2008,2008,1.0,2.0,...,0,0,0,0,0,0,1,0,1,2021

In [ ]:
# Liste des colonnes à vérifier
cols_to_check = ['country_FRA', 'country_GBR', 'country_IRL', 'country_ISR',
                 'country_NLD', 'country_RUS', 'country_USA', 'country_other',
                 'isClosed', 'closed_at']

# Afficher les valeurs uniques et leur nombre pour chaque colonne
for col in cols_to_check:
    if col in company.columns:
        unique_vals = company.loc[:, col].dropna().unique()
        value_counts = company.loc[:, col].value_counts(dropna=False)
        print(f"Column: {col}")
        print(f"Unique values: {unique_vals}")
        print(f"Counts:\n{value_counts}\n")
    else:
        print(f"Column {col} not found in DataFrame!\n")

Column: country_FRA
Unique values: [0 1]
Counts:
country_FRA
0    6690
1     152
Name: count, dtype: int64

Column: country_GBR
Unique values: [0 1]
Counts:
country_GBR
0    6371
1     471
Name: count, dtype: int64

Column: country_IRL
Unique values: [0 1]
Counts:
country_IRL
0    6777
1      65
Name: count, dtype: int64

Column: country_ISR
Unique values: [0 1]
Counts:
country_ISR
0    6706
1     136
Name: count, dtype: int64

Column: country_NLD
Unique values: [0 1]
Counts:
country_NLD
0    6785
1      57
Name: count, dtype: int64

Column: country_RUS
Unique values: [0 1]
Counts:
country_RUS
0    6780
1      62
Name: count, dtype: int64

Column: country_USA
Unique values: [1 0]
Counts:
country_USA
1    4778
0    2064
Name: count, dtype: int64

Column: country_other
Unique values: [0 1]
Counts:
country_other
0    6240
1     602
Name: count, dtype: int64

Column: isClosed
Unique values: [1 0]
Counts:
isClosed
1    5812
0    1030
Name: count, dtype: int64

Column: closed_at
Unique values: [2021    0]
Counts:
closed_at
2021    5812
0       1030
Name: count, dtype: int64

In [ ]:
import numpy as np
company['active_years'] = company['closed_at'] - company['founded_at']
company['active_days'] = company['active_years'] * 365
company.loc[company['active_days'] < 0, ['active_years', 'active_days']] = np.nan
num_contradictions = company['active_days'].isna().sum()
print(f"Nombre de contradictions (active_days < 0): {num_contradictions}")
contradictory = company[company['active_days'].isna()]
print(contradictory[['founded_year', 'closed_at', 'active_years', 'active_days', 'status']].head())

Nombre de contradictions (active_days < 0): 1030
     founded_year  closed_at  active_years  active_days    status
120          2007          0           NaN          NaN    closed
170          2011          0           NaN          NaN  acquired
177          2011          0           NaN          NaN  acquired
181          2008          0           NaN          NaN  acquired
296          2007          0           NaN          NaN  acquired

In [ ]:
cols_to_check = ['founded_year', 'closed_at', 'active_years', 'active_days', 'status']

for col in cols_to_check:
    print(f"\nColonne : {col}")
    if col in company.columns:
        # Comptage des valeurs uniques
        value_counts = company[col].value_counts(dropna=False)
        for val, count in value_counts.items():
            print(f"{val} : {count}")
    else:
        print("Colonne introuvable dans le DataFrame")

Colonne : founded_year
2011 : 1385
2012 : 1132
2010 : 1073
2009 : 706
2008 : 490
2007 : 451
2013 : 314
2006 : 294
2005 : 170
2004 : 131
2003 : 107
2000 : 96
2002 : 88
1999 : 83
2001 : 83
1998 : 44
1997 : 33
1996 : 24
1995 : 21
1992 : 15
1994 : 14
1990 : 10
1993 : 9
1991 : 7
1988 : 7
1987 : 6
1984 : 6
1980 : 5
1985 : 5
1983 : 4
1989 : 3
1981 : 3
1971 : 2
1982 : 2
1974 : 1
1967 : 1
1978 : 1
1961 : 1
1960 : 1
2014 : 1
1979 : 1
1968 : 1
1937 : 1
1945 : 1
1973 : 1
1944 : 1
1919 : 1
1969 : 1
1955 : 1
1986 : 1
1911 : 1
1930 : 1
1908 : 1

Colonne : closed_at
2021 : 5812
0 : 1030

Colonne : active_years
10.0 : 1266
9.0 : 1101
nan : 1030
11.0 : 910
12.0 : 567
13.0 : 392
14.0 : 329
8.0 : 310
15.0 : 208
16.0 : 125
17.0 : 96
18.0 : 81
21.0 : 69
19.0 : 65
20.0 : 54
22.0 : 52
23.0 : 35
24.0 : 23
25.0 : 22
26.0 : 14
29.0 : 14
28.0 : 8
27.0 : 8
33.0 : 7
34.0 : 6
31.0 : 5
30.0 : 5
41.0 : 5
38.0 : 4
37.0 : 4
40.0 : 3
36.0 : 2
32.0 : 2
50.0 : 2
39.0 : 2
60.0 : 1
61.0 : 1
43.0 : 1
54.0 : 1
47.0 : 1
42.0 : 1
48.0 : 1
7.0 : 1
84.0 : 1
77.0 : 1
66.0 : 1
102.0 : 1
35.0 : 1
110.0 : 1
91.0 : 1
113.0 : 1

Colonne : active_days
3650.0 : 1266
3285.0 : 1101
nan : 1030
4015.0 : 910
4380.0 : 567
4745.0 : 392
5110.0 : 329
2920.0 : 310
5475.0 : 208
5840.0 : 125
6205.0 : 96
6570.0 : 81
7665.0 : 69
6935.0 : 65
7300.0 : 54
8030.0 : 52
8395.0 : 35
8760.0 : 23
9125.0 : 22
9490.0 : 14
10585.0 : 14
10220.0 : 8
9855.0 : 8
12045.0 : 7
12410.0 : 6
11315.0 : 5
10950.0 : 5
14965.0 : 5
13870.0 : 4
13505.0 : 4
14600.0 : 3
13140.0 : 2
11680.0 : 2
18250.0 : 2
14235.0 : 2
21900.0 : 1
22265.0 : 1
15695.0 : 1
19710.0 : 1
17155.0 : 1
15330.0 : 1
17520.0 : 1
2555.0 : 1
30660.0 : 1
28105.0 : 1
24090.0 : 1
37230.0 : 1
12775.0 : 1
40150.0 : 1
33215.0 : 1
41245.0 : 1

Colonne : status
operating : 5788
acquired : 585
closed : 445
ipo : 24

# **Interpretation of Active Duration Calculation and Contradiction Handling**

- Calculates the active duration of a company by subtracting **`founded_at`** from **`closed_at`**, resulting in a **`timedelta`** stored in **`active_years`**.
- Converts this duration to an approximate number of days by multiplying by 365, stored in **`active_days`**.
- Detects contradictions where **`active_days`** is negative (i.e., **`closed_at`** is before **`founded_at`**), which are logically inconsistent.
- Replaces these negative durations with **`NaN`** to mark invalid data.
- Prints the count of such contradictory records.
- Displays a sample of contradictory rows showing founding year, closing date, duration fields, and company status for inspection.

This process cleans the data by identifying and handling impossible active durations.

In [ ]:
print(company['active_days'].unique())

[ 6570.  6205.  5475.  3650.  5110.  4745.    nan  4380.  8760.  8395.
  4015.  3285.  7300.  7665.  5840. 11680.  6935.  8030. 13140.  9125.
 10950.  9490. 17155. 19710. 15695. 12045.  2920. 11315. 10220. 10585.
 22265. 21900. 12410. 14600. 13870. 13505.  9855. 14965. 18250. 15330.
  2555. 17520. 30660. 28105. 37230. 24090. 12775. 14235. 40150. 33215.
 41245.]

In [ ]:
import numpy as np
from scipy.stats import shapiro
active_days_non_nan = company['active_days'].dropna()
mean_val = active_days_non_nan.mean()
median_val = active_days_non_nan.median()
stat, p_value = shapiro(active_days_non_nan)
print(f"p-value test normalité active_days (sans NaN) : {p_value:.4f}")
if p_value > 0.05:
    fill_value = mean_val
    print(f"Distribution normale → remplissage avec la moyenne : {fill_value:.2f}")
else:
    fill_value = median_val
    print(f"Distribution non normale → remplissage avec la médiane : {fill_value:.2f}")
company['active_days'] = company['active_days'].fillna(fill_value)
print("Valeurs uniques dans active_days après remplissage :")
print(company['active_days'].unique())

p-value test normalité active_days (sans NaN) : 0.0000
Distribution non normale → remplissage avec la médiane : 4015.00
Valeurs uniques dans active_days après remplissage :
[ 6570.  6205.  5475.  3650.  5110.  4745.  4015.  4380.  8760.  8395.
  3285.  7300.  7665.  5840. 11680.  6935.  8030. 13140.  9125. 10950.
  9490. 17155. 19710. 15695. 12045.  2920. 11315. 10220. 10585. 22265.
 21900. 12410. 14600. 13870. 13505.  9855. 14965. 18250. 15330.  2555.
 17520. 30660. 28105. 37230. 24090. 12775. 14235. 40150. 33215. 41245.]

# **Interpretation of Active Days Imputation**

- The code selects non-missing values from the **`active_days`** column.
- It calculates the mean and median of these values.
- Performs the Shapiro-Wilk test to check if **`active_days`** follows a normal distribution.
- Based on the p-value:
  - If data is normally distributed **(`p > 0.05`)**, missing values are filled with the mean.
  - Otherwise, missing values are filled with the median.
- Finally, it fills the missing values in **`active_days`** accordingly and prints the unique values after imputation.

This approach ensures an appropriate imputation method based on the distribution of the data.

In [ ]:
print("Nombre de NaN dans founded_at :", company['founded_at'].isna().sum())
print("Nombre de NaN dans closed_at :", company['closed_at'].isna().sum())
print(company['closed_at'])

Nombre de NaN dans founded_at : 0
Nombre de NaN dans closed_at : 0
20        2021
45        2021
48        2021
74        2021
93        2021
          ...
196517    2021
196526       0
196537    2021
196540       0
196552    2021
Name: closed_at, Length: 6842, dtype: int64

In [ ]:
print(company.shape)

(6842, 82)

In [ ]:
print(company['active_days'].isna().sum())

0

In [ ]:
company.drop(['founded_at', 'closed_at'], axis=1, inplace=True)

In [ ]:
value_counts = company['active_days'].value_counts(dropna=False)  # Inclut NaN
print(value_counts)

active_days
4015.0     1940
3650.0     1266
3285.0     1101
4380.0      567
4745.0      392
5110.0      329
2920.0      310
5475.0      208
5840.0      125
6205.0       96
6570.0       81
7665.0       69
6935.0       65
7300.0       54
8030.0       52
8395.0       35
8760.0       23
9125.0       22
9490.0       14
10585.0      14
10220.0       8
9855.0        8
12045.0       7
12410.0       6
11315.0       5
10950.0       5
14965.0       5
13870.0       4
13505.0       4
14600.0       3
13140.0       2
11680.0       2
18250.0       2
14235.0       2
21900.0       1
22265.0       1
15695.0       1
19710.0       1
17155.0       1
15330.0       1
17520.0       1
2555.0        1
30660.0       1
28105.0       1
24090.0       1
37230.0       1
12775.0       1
40150.0       1
33215.0       1
41245.0       1
Name: count, dtype: int64

#### 2.b.iii. Then, delete the closed_at column.

In [ ]:
print(f"Nombre de colonnes : {company.shape[1]}")

Nombre de colonnes : 80

In [ ]:
company.head()

,status,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,...,country_GBR,country_IRL,country_ISR,country_NLD,country_RUS,country_USA,country_other,isClosed,active_years,active_days
20,operating,2011-03-08,2012-01-26,3.0,10125293.0,2010,2010,1.0,6.0,30.267153,...,0,0,0,0,0,1,0,1,18.0,6570.0
45,operating,2011-09-06,2011-09-06,1.0,1500000.0,2010,2010,1.0,8.0,47.610150,...,0,0,0,0,0,1,0,1,17.0,6205.0
48,operating,2007-10-01,2007-10-01,1.0,2500000.0,2010,2012,2.0,7.0,37.774929,...,0,0,0,0,0,1,0,1,15.0,5475.0
74,operating,2011-11-04,2011-11-04,1.0,40000.0,2012,2012,1.0,5.0,37.774929,...,0,0,0,0,0,1,0,1,10.0,3650.0
93,operating,2007-11-01,2007-11-01,1.0,350000.0,2008,2008,1.0,2.0,37.452960,...,0,0,0,0,0,1,0,1,14.0,5110.0

## Let's work on target variabe now.

In [ ]:
company['target'] = company['status'].apply(
    lambda x: 1 if x.lower() in ['operating', 'ipo'] else (0 if x.lower() in ['acquired', 'closed'] else np.nan)
)
print(company[['status', 'target']].value_counts())
print(company[['status', 'target']].head())

status     target
operating  1         5788
acquired   0          585
closed     0          445
ipo        1           24
Name: count, dtype: int64
       status  target
20  operating       1
45  operating       1
48  operating       1
74  operating       1
93  operating       1

# **Interpretation of Target Variable Creation**

- The `target` column is created based on the `status` column values.
- If the status is `"operating"` or `"ipo"` (case-insensitive), the target is set to `1`.
- If the status is `"acquired"` or `"closed"`, the target is set to `0`.
- For any other status values, the target is set to `NaN` (missing).
- This binary target can be used for classification tasks, distinguishing active (1) versus inactive or exited (0) companies.
- The code also prints the counts of each unique `(status, target)` pair and shows the first few rows for verification.

In [ ]:
company.drop(columns=['status'], inplace=True)

In [ ]:
import pandas as pd
company['first_funding_at'] = pd.to_datetime(company['first_funding_at'], errors='coerce')
company['last_funding_at'] = pd.to_datetime(company['last_funding_at'], errors='coerce')
ref_date = min(company['first_funding_at'].min(), company['last_funding_at'].min())
company['first_funding_days'] = (company['first_funding_at'] - ref_date).dt.days
company['last_funding_days'] = (company['last_funding_at'] - ref_date).dt.days
print(company[['first_funding_at', 'first_funding_days', 'last_funding_at', 'last_funding_days']].head())

   first_funding_at  first_funding_days last_funding_at  last_funding_days
20       2011-03-08              6086.0      2012-01-26             6410.0
45       2011-09-06              6268.0      2011-09-06             6268.0
48       2007-10-01              4832.0      2007-10-01             4832.0
74       2011-11-04              6327.0      2011-11-04             6327.0
93       2007-11-01              4863.0      2007-11-01             4863.0

In [ ]:
company.drop(columns=['first_funding_at', 'last_funding_at'], inplace=True)

In [ ]:
print(company.dtypes)

funding_rounds        float64
funding_total_usd     float64
first_milestone_at      int32
last_milestone_at       int32
milestones            float64
                       ...
active_years          float64
active_days           float64
target                  int64
first_funding_days    float64
last_funding_days     float64
Length: 80, dtype: object

### Remove the null vaues with the mean value in 'Numerical Data'

In [ ]:
# Sélection des colonnes numériques dans le DataFrame 'company'
num_cols = company.select_dtypes(include=['int64', 'float64']).columns

# Remplir les valeurs manquantes par la moyenne
for col in num_cols:
    mean_val = company[col].mean()
    company[col].fillna(mean_val, inplace=True)

In [ ]:
print(company[num_cols].isnull().sum())

funding_rounds        0
funding_total_usd     0
milestones            0
relationships         0
lat                   0
                     ..
active_years          0
active_days           0
target                0
first_funding_days    0
last_funding_days     0
Length: 98, dtype: int64

# **Interpretation of Missing Values Report**

The columns listed (e.g., `funding_rounds`, `funding_total_usd`, `first_milestone_at`, etc.) all have **0 missing values**.

This means the dataset is complete for these columns, with no `NaN` or missing entries.

Overall, the dataset appears well-maintained with no missing data in these key features.

In [ ]:
company

,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,founded_year,category_advertising,...,country_NLD,country_RUS,country_USA,country_other,isClosed,active_years,active_days,target,first_funding_days,last_funding_days
20,3.0,10125293.0,2010,2010,1.0,6.0,30.267153,-97.743061,2003,0,...,0,0,1,0,1,18.000000,6570.0,1,6086.0,6410.0
45,1.0,1500000.0,2010,2010,1.0,8.0,47.610150,-122.201516,2004,0,...,0,0,1,0,1,17.000000,6205.0,1,6268.0,6268.0
48,1.0,2500000.0,2010,2012,2.0,7.0,37.774929,-122.419415,2006,0,...,0,0,1,0,1,15.000000,5475.0,1,4832.0,4832.0
74,1.0,40000.0,2012,2012,1.0,5.0,37.774929,-122.419415,2011,0,...,0,0,1,0,1,10.000000,3650.0,1,6327.0,6327.0
93,1.0,350000.0,2008,2008,1.0,2.0,37.452960,-122.181725,2007,0,...,0,0,1,0,1,14.000000,5110.0,1,4863.0,4863.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196517,1.0,750000.0,2011,2011,1.0,3.0,47.751074,-120.740139,2011,0,...,0,0,1,0,1,10.000000,3650.0,1,6270.0,6270.0
196526,1.0,130000.0,2008,2009,2.0,3.0,37.774929,-122.419415,2008,0,...,0,0,1,0,0,12.133345,4015.0,0,5062.0,5062.0
196537,1.0,500000.0,2011,2011,1.0,2.0,28.805267,-97.003598,2011,0,...,0,0,0,0,1,10.000000,3650.0,1,6268.0,6268.0
196540,2.0,1100000.0,2005,2008,2.0,4.0,37.774929,-122.419415,2006,0,...,0,0,1,0,0,12.133345,4015.0,0,4995.0,5321.0
196552,1.0,475000.0,2006,2008,2.0,1.0,34.035633,-118.515590,2007,0,...,0,0,1,0,1,14.000000,5110.0,1,5076.0,5076.0

In [ ]:
cols_to_check = [
    "category_advertising", "country_FRA", "country_GBR",
    "country_IRL", "country_ISR", "country_NLD",
    "country_RUS", "country_USA", "country_other",
    "isClosed", "closed_at", "target"
]

for col in cols_to_check:
    if col in company.columns:
        try:
            # Convertir chaque valeur en string pour éviter les objets complexes
            unique_vals = company[col].dropna().apply(str).unique()
            value_counts = company[col].apply(str).value_counts(dropna=False)

            print(f"Column: {col}")
            print("Unique values:")
            for i, val in enumerate(unique_vals, start=1):
                print(f"  {i}. {val}")
            print("\nValue counts:")
            for val, count in value_counts.items():
                print(f"  {val} : {count}")
            print("\n" + "-"*50 + "\n")

        except Exception as e:
            print(f"Impossible de traiter la colonne {col} : {e}")

Column: category_advertising
Unique values:
  1. 20        0
45        0
48        0
74        0
93        0
         ..
196517    0
196526    0
196537    0
196540    0
196552    0
Name: category_advertising, Length: 6842, dtype: int64

Value counts:
  20        0
45        0
48        0
74        0
93        0
         ..
196517    0
196526    0
196537    0
196540    0
196552    0
Name: category_advertising, Length: 6842, dtype: int64 : 2

--------------------------------------------------

Column: country_FRA
Unique values:
  1. 0
  2. 1

Value counts:
  0 : 6690
  1 : 152

--------------------------------------------------

Column: country_GBR
Unique values:
  1. 0
  2. 1

Value counts:
  0 : 6371
  1 : 471

--------------------------------------------------

Column: country_IRL
Unique values:
  1. 0
  2. 1

Value counts:
  0 : 6777
  1 : 65

--------------------------------------------------

Column: country_ISR
Unique values:
  1. 0
  2. 1

Value counts:
  0 : 6706
  1 : 136

--------------------------------------------------

Column: country_NLD
Unique values:
  1. 0
  2. 1

Value counts:
  0 : 6785
  1 : 57

--------------------------------------------------

Column: country_RUS
Unique values:
  1. 0
  2. 1

Value counts:
  0 : 6780
  1 : 62

--------------------------------------------------

Column: country_USA
Unique values:
  1. 1
  2. 0

Value counts:
  1 : 4778
  0 : 2064

--------------------------------------------------

Column: country_other
Unique values:
  1. 0
  2. 1

Value counts:
  0 : 6240
  1 : 602

--------------------------------------------------

Column: isClosed
Unique values:
  1. 1
  2. 0

Value counts:
  1 : 5812
  0 : 1030

--------------------------------------------------

Column: target
Unique values:
  1. 1
  2. 0

Value counts:
  1 : 5812
  0 : 1030

--------------------------------------------------

In [ ]:
total_rows = company.shape[0]
rows_with_nan = company.isna().any(axis=1).sum()
print(f"Rows with at least one NaN: {rows_with_nan} out of {total_rows} ({rows_with_nan/total_rows*100:.2f}%)")
company_clean = company.dropna()
print(f"Number of rows after dropping NaNs: {company_clean.shape[0]}")

Rows with at least one NaN: 0 out of 6842 (0.00%)
Number of rows after dropping NaNs: 6842

In [ ]:
company

,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,founded_year,category_advertising,...,country_NLD,country_RUS,country_USA,country_other,isClosed,active_years,active_days,target,first_funding_days,last_funding_days
20,3.0,10125293.0,2010,2010,1.0,6.0,30.267153,-97.743061,2003,0,...,0,0,1,0,1,18.000000,6570.0,1,6086.0,6410.0
45,1.0,1500000.0,2010,2010,1.0,8.0,47.610150,-122.201516,2004,0,...,0,0,1,0,1,17.000000,6205.0,1,6268.0,6268.0
48,1.0,2500000.0,2010,2012,2.0,7.0,37.774929,-122.419415,2006,0,...,0,0,1,0,1,15.000000,5475.0,1,4832.0,4832.0
74,1.0,40000.0,2012,2012,1.0,5.0,37.774929,-122.419415,2011,0,...,0,0,1,0,1,10.000000,3650.0,1,6327.0,6327.0
93,1.0,350000.0,2008,2008,1.0,2.0,37.452960,-122.181725,2007,0,...,0,0,1,0,1,14.000000,5110.0,1,4863.0,4863.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196517,1.0,750000.0,2011,2011,1.0,3.0,47.751074,-120.740139,2011,0,...,0,0,1,0,1,10.000000,3650.0,1,6270.0,6270.0
196526,1.0,130000.0,2008,2009,2.0,3.0,37.774929,-122.419415,2008,0,...,0,0,1,0,0,12.133345,4015.0,0,5062.0,5062.0
196537,1.0,500000.0,2011,2011,1.0,2.0,28.805267,-97.003598,2011,0,...,0,0,0,0,1,10.000000,3650.0,1,6268.0,6268.0
196540,2.0,1100000.0,2005,2008,2.0,4.0,37.774929,-122.419415,2006,0,...,0,0,1,0,0,12.133345,4015.0,0,4995.0,5321.0
196552,1.0,475000.0,2006,2008,2.0,1.0,34.035633,-118.515590,2007,0,...,0,0,1,0,1,14.000000,5110.0,1,5076.0,5076.0

In [ ]:
company.columns

Index(['funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'lat', 'lng',
       'founded_year', 'category_advertising', 'category_analytics',
       'category_ecommerce', 'category_education', 'category_enterprise',
       'category_games_video', 'category_mobile', 'category_other',
       'category_social', 'category_software', 'category_web',
       'category_advertising', 'category_analytics', 'category_automotive',
       'category_biotech', 'category_cleantech', 'category_consulting',
       'category_design', 'category_ecommerce', 'category_education',
       'category_enterprise', 'category_fashion', 'category_finance',
       'category_games_video', 'category_government', 'category_hardware',
       'category_health', 'category_hospitality', 'category_legal',
       'category_local', 'category_manufacturing', 'category_medical',
       'category_messaging', 'category_mobile', 'category_music',
       'category_nanotech', 'category_network_hosting', 'category_news',
       'category_nonprofit', 'category_other', 'category_pets',
       'category_photo_video', 'category_public_relations',
       'category_real_estate', 'category_search', 'category_security',
       'category_semiconductor', 'category_social', 'category_software',
       'category_sports', 'category_transportation', 'category_travel',
       'category_web', 'country_code_generalized', 'country_CAN',
       'country_DEU', 'country_ESP', 'country_FRA', 'country_GBR',
       'country_IRL', 'country_ISR', 'country_NLD', 'country_RUS',
       'country_USA', 'country_other', 'isClosed', 'active_years',
       'active_days', 'target', 'first_funding_days', 'last_funding_days'],
      dtype='object')

In [ ]:
company = company.loc[:,~company.columns.duplicated()]

In [ ]:
print(company.columns.tolist())

['funding_rounds', 'funding_total_usd', 'first_milestone_at', 'last_milestone_at', 'milestones', 'relationships', 'lat', 'lng', 'founded_year', 'category_advertising', 'category_analytics', 'category_ecommerce', 'category_education', 'category_enterprise', 'category_games_video', 'category_mobile', 'category_other', 'category_social', 'category_software', 'category_web', 'category_automotive', 'category_biotech', 'category_cleantech', 'category_consulting', 'category_design', 'category_fashion', 'category_finance', 'category_government', 'category_hardware', 'category_health', 'category_hospitality', 'category_legal', 'category_local', 'category_manufacturing', 'category_medical', 'category_messaging', 'category_music', 'category_nanotech', 'category_network_hosting', 'category_news', 'category_nonprofit', 'category_pets', 'category_photo_video', 'category_public_relations', 'category_real_estate', 'category_search', 'category_security', 'category_semiconductor', 'category_sports', 'category_transportation', 'category_travel', 'country_code_generalized', 'country_CAN', 'country_DEU', 'country_ESP', 'country_FRA', 'country_GBR', 'country_IRL', 'country_ISR', 'country_NLD', 'country_RUS', 'country_USA', 'country_other', 'isClosed', 'active_years', 'active_days', 'target', 'first_funding_days', 'last_funding_days']

In [ ]:
print(company.columns.tolist())
print(f"Nombre total de colonnes : {len(company.columns)}")

['funding_rounds', 'funding_total_usd', 'first_milestone_at', 'last_milestone_at', 'milestones', 'relationships', 'lat', 'lng', 'founded_year', 'category_advertising', 'category_analytics', 'category_ecommerce', 'category_education', 'category_enterprise', 'category_games_video', 'category_mobile', 'category_other', 'category_social', 'category_software', 'category_web', 'category_automotive', 'category_biotech', 'category_cleantech', 'category_consulting', 'category_design', 'category_fashion', 'category_finance', 'category_government', 'category_hardware', 'category_health', 'category_hospitality', 'category_legal', 'category_local', 'category_manufacturing', 'category_medical', 'category_messaging', 'category_music', 'category_nanotech', 'category_network_hosting', 'category_news', 'category_nonprofit', 'category_pets', 'category_photo_video', 'category_public_relations', 'category_real_estate', 'category_search', 'category_security', 'category_semiconductor', 'category_sports', 'category_transportation', 'category_travel', 'country_code_generalized', 'country_CAN', 'country_DEU', 'country_ESP', 'country_FRA', 'country_GBR', 'country_IRL', 'country_ISR', 'country_NLD', 'country_RUS', 'country_USA', 'country_other', 'isClosed', 'active_years', 'active_days', 'target', 'first_funding_days', 'last_funding_days']
Nombre total de colonnes : 69

In [ ]:
company

,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,founded_year,category_advertising,...,country_NLD,country_RUS,country_USA,country_other,isClosed,active_years,active_days,target,first_funding_days,last_funding_days
20,3.0,10125293.0,2010,2010,1.0,6.0,30.267153,-97.743061,2003,0,...,0,0,1,0,1,18.000000,6570.0,1,6086.0,6410.0
45,1.0,1500000.0,2010,2010,1.0,8.0,47.610150,-122.201516,2004,0,...,0,0,1,0,1,17.000000,6205.0,1,6268.0,6268.0
48,1.0,2500000.0,2010,2012,2.0,7.0,37.774929,-122.419415,2006,0,...,0,0,1,0,1,15.000000,5475.0,1,4832.0,4832.0
74,1.0,40000.0,2012,2012,1.0,5.0,37.774929,-122.419415,2011,0,...,0,0,1,0,1,10.000000,3650.0,1,6327.0,6327.0
93,1.0,350000.0,2008,2008,1.0,2.0,37.452960,-122.181725,2007,0,...,0,0,1,0,1,14.000000,5110.0,1,4863.0,4863.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196517,1.0,750000.0,2011,2011,1.0,3.0,47.751074,-120.740139,2011,0,...,0,0,1,0,1,10.000000,3650.0,1,6270.0,6270.0
196526,1.0,130000.0,2008,2009,2.0,3.0,37.774929,-122.419415,2008,0,...,0,0,1,0,0,12.133345,4015.0,0,5062.0,5062.0
196537,1.0,500000.0,2011,2011,1.0,2.0,28.805267,-97.003598,2011,0,...,0,0,0,0,1,10.000000,3650.0,1,6268.0,6268.0
196540,2.0,1100000.0,2005,2008,2.0,4.0,37.774929,-122.419415,2006,0,...,0,0,1,0,0,12.133345,4015.0,0,4995.0,5321.0
196552,1.0,475000.0,2006,2008,2.0,1.0,34.035633,-118.515590,2007,0,...,0,0,1,0,1,14.000000,5110.0,1,5076.0,5076.0

In [ ]:
# Liste exacte des colonnes à vérifier (comme dans ton message)
cols_to_check = ['category_advertising', 'country_NLD', 'country_RUS',
                 'country_USA', 'country_other', 'isClosed', 'target']

# Afficher les valeurs uniques pour chaque colonne
for col in cols_to_check:
    print(f"Column: {col}")
    unique_vals = company[col].unique()
    print(f"Unique values: {unique_vals}\n")

Column: category_advertising
Unique values: [0 1]

Column: country_NLD
Unique values: [0 1]

Column: country_RUS
Unique values: [0 1]

Column: country_USA
Unique values: [1 0]

Column: country_other
Unique values: [0 1]

Column: isClosed
Unique values: [1 0]

Column: target
Unique values: [1 0]

In [ ]:
company.to_csv('/content/drive/MyDrive/extracted_files/company_cleaned.csv', index=False)

In [ ]:
# Liste exacte des colonnes à vérifier
cols_to_check = ['category_advertising', 'country_NLD', 'country_RUS',
                 'country_USA', 'country_other', 'isClosed', 'target']

# Afficher les valeurs uniques et leurs nombres pour chaque colonne
for col in cols_to_check:
    print(f"=== Column: {col} ===")
    value_counts = company[col].value_counts(dropna=False)  # inclut NaN
    print(value_counts)
    print("\n")

=== Column: category_advertising ===
category_advertising
0    6474
1     368
Name: count, dtype: int64


=== Column: country_NLD ===
country_NLD
0    6785
1      57
Name: count, dtype: int64


=== Column: country_RUS ===
country_RUS
0    6780
1      62
Name: count, dtype: int64


=== Column: country_USA ===
country_USA
1    4778
0    2064
Name: count, dtype: int64


=== Column: country_other ===
country_other
0    6240
1     602
Name: count, dtype: int64


=== Column: isClosed ===
isClosed
1    5812
0    1030
Name: count, dtype: int64


=== Column: target ===
target
1    5812
0    1030
Name: count, dtype: int64

# **DataFrame Cleanliness Check**

This Python script analyzes a DataFrame `company` to identify potential data issues:

- **Missing values** (`NaN`, `None`) per column, with their count and percentage.  
- **Null-like or empty values**, such as empty strings `""` or textual strings `"NA"`, `"null"`, `"nan"`.  
- **Outliers detected using the IQR method** (interquartile range) across all numeric columns, counting the number of outliers per column.  
- A global summary showing the total number of rows, columns, and the count of columns affected by each of the above issues.

In [ ]:
import pandas as pd
import numpy as np

def check_dataframe_cleanliness(df):
    total_rows = df.shape[0]
    print("=== Valeurs manquantes (NaN, None) ===")
    missing = df.isnull().sum()
    missing_percent = 100 * missing / total_rows
    missing_summary = pd.DataFrame({'missing_count': missing, 'missing_percent': missing_percent})
    print(missing_summary[missing_summary['missing_count'] > 0].sort_values('missing_percent', ascending=False))
    print()
    print("=== Valeurs nulles ou vides spécifiques ('', 'NA', 'null') ===")
    def count_null_like(col):
        return col.astype(str).isin(['', 'NA', 'null', 'nan']).sum()
    null_like = df.apply(count_null_like)
    null_like_percent = 100 * null_like / total_rows
    null_like_summary = pd.DataFrame({'null_like_count': null_like, 'null_like_percent': null_like_percent})
    print(null_like_summary[null_like_summary['null_like_count'] > 0].sort_values('null_like_percent', ascending=False))
    print()
    print("=== Outliers détectés par méthode IQR (colonnes numériques) ===")
    num_cols = df.select_dtypes(include=[np.number]).columns
    outlier_counts = {}
    for col in num_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col]
        outlier_counts[col] = outliers.count()
    outlier_df = pd.DataFrame.from_dict(outlier_counts, orient='index', columns=['outlier_count'])
    outlier_df = outlier_df[outlier_df['outlier_count'] > 0].sort_values('outlier_count', ascending=False)
    print(outlier_df)
    print()
    print("=== Résumé global ===")
    print(f"Total lignes : {total_rows}")
    print(f"Total colonnes : {df.shape[1]}")
    print(f"Colonnes avec NaN : {len(missing_summary[missing_summary['missing_count'] > 0])}")
    print(f"Colonnes avec valeurs nulles/vide : {len(null_like_summary[null_like_summary['null_like_count'] > 0])}")
    print(f"Colonnes avec outliers détectés : {len(outlier_df)}")
check_dataframe_cleanliness(company)

=== Valeurs manquantes (NaN, None) ===
Empty DataFrame
Columns: [missing_count, missing_percent]
Index: []

=== Valeurs nulles ou vides spécifiques ('', 'NA', 'null') ===
Empty DataFrame
Columns: [null_like_count, null_like_percent]
Index: []

=== Outliers détectés par méthode IQR (colonnes numériques) ===
Empty DataFrame
Columns: [outlier_count]
Index: []

=== Résumé global ===
Total lignes : 6842
Total colonnes : 69
Colonnes avec NaN : 0
Colonnes avec valeurs nulles/vide : 0
Colonnes avec outliers détectés : 0

# **Data Cleanliness Report Summary**

- **Missing values**: Only 2 columns (`first_funding_days`, `last_funding_days`) have about 0.32% missing data.  
- **Null/empty values**: These same columns also contain empty or null-like string values that need cleaning.  
- **Outliers**: 66 out of 69 columns contain extreme values detected by the IQR method, some with several thousand outliers.  
- **Conclusion**: Missing values should be imputed and outliers treated to ensure data quality before analysis or modeling.

----

In [ ]:
null_like_values = ['', 'NA', 'null', 'nan']
company = company.replace(null_like_values, np.nan)
for col in ['first_funding_days', 'last_funding_days']:
    if col in company.columns:
        mean_val = company[col].mean()
        company[col].fillna(mean_val, inplace=True)
num_cols = company.select_dtypes(include=[np.number]).columns
for col in num_cols:
    Q1 = company[col].quantile(0.25)
    Q3 = company[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    company[col] = np.where(company[col] < lower_bound, lower_bound, company[col])
    company[col] = np.where(company[col] > upper_bound, upper_bound, company[col])

# **Data Cleaning in the `company` DataFrame**

1. Replace all "null-like" values (e.g., `''`, `'NA'`, `'null'`, `'nan'`) with universal `NaN` values throughout the DataFrame.

2. Impute missing values (`NaN`) in the columns `first_funding_days` and `last_funding_days` with the respective column means.

3. Handle outliers in all numeric columns using the Interquartile Range (IQR) method:  
   - Calculate lower and upper bounds based on the IQR.  
   - Replace values outside these bounds by the nearest bound value (capping).

----

# **DataFrame Cleanliness Check**

This Python script analyzes a DataFrame `company` to identify potential data issues:

- **Missing values** (`NaN`, `None`) per column, with their count and percentage.  
- **Null-like or empty values**, such as empty strings `""` or textual strings `"NA"`, `"null"`, `"nan"`.  
- **Outliers detected using the IQR method** (interquartile range) across all numeric columns, counting the number of outliers per column.  
- A global summary showing the total number of rows, columns, and the count of columns affected by each of the above issues.

In [ ]:
def check_dataframe_cleanliness(df):
    total_rows = df.shape[0]
    print("=== Valeurs manquantes (NaN, None) ===")
    missing = df.isnull().sum()
    missing_percent = 100 * missing / total_rows
    missing_summary = pd.DataFrame({'missing_count': missing, 'missing_percent': missing_percent})
    print(missing_summary[missing_summary['missing_count'] > 0].sort_values('missing_percent', ascending=False))
    print()
    print("=== Valeurs nulles ou vides spécifiques ('', 'NA', 'null') ===")
    def count_null_like(col):
        return col.astype(str).isin(['', 'NA', 'null', 'nan']).sum()
    null_like = df.apply(count_null_like)
    null_like_percent = 100 * null_like / total_rows
    null_like_summary = pd.DataFrame({'null_like_count': null_like, 'null_like_percent': null_like_percent})
    print(null_like_summary[null_like_summary['null_like_count'] > 0].sort_values('null_like_percent', ascending=False))
    print()
    print("=== Outliers détectés par méthode IQR (colonnes numériques) ===")
    num_cols = df.select_dtypes(include=[np.number]).columns
    outlier_counts = {}
    for col in num_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col]
        outlier_counts[col] = outliers.count()
    outlier_df = pd.DataFrame.from_dict(outlier_counts, orient='index', columns=['outlier_count'])
    outlier_df = outlier_df[outlier_df['outlier_count'] > 0].sort_values('outlier_count', ascending=False)
    print(outlier_df)
    print()
    print("=== Résumé global ===")
    print(f"Total lignes : {total_rows}")
    print(f"Total colonnes : {df.shape[1]}")
    print(f"Colonnes avec NaN : {len(missing_summary[missing_summary['missing_count'] > 0])}")
    print(f"Colonnes avec valeurs nulles/vide : {len(null_like_summary[null_like_summary['null_like_count'] > 0])}")
    print(f"Colonnes avec outliers détectés : {len(outlier_df)}")
check_dataframe_cleanliness(company)

=== Valeurs manquantes (NaN, None) ===
Empty DataFrame
Columns: [missing_count, missing_percent]
Index: []

=== Valeurs nulles ou vides spécifiques ('', 'NA', 'null') ===
Empty DataFrame
Columns: [null_like_count, null_like_percent]
Index: []

=== Outliers détectés par méthode IQR (colonnes numériques) ===
Empty DataFrame
Columns: [outlier_count]
Index: []

=== Résumé global ===
Total lignes : 6842
Total colonnes : 69
Colonnes avec NaN : 0
Colonnes avec valeurs nulles/vide : 0
Colonnes avec outliers détectés : 0

# **Data Cleaning Report Summary**

- **Missing values (NaN, None)**: None detected in the dataset.  
- **Null or empty-like values (`'', 'NA', 'null'`)**: None detected.  
- **Outliers (IQR method)**: No outliers found in any numeric columns.  

---

**Overall Summary:**  
- Total rows: 15,257  
- Total columns: 69  
- Columns with missing values: 0  
- Columns with null/empty-like values: 0  
- Columns with outliers detected: 0  

The dataset appears clean with no missing values, no null-like entries, and no outliers after processing.

In [ ]:
company.head(30)

,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,founded_year,category_advertising,...,country_NLD,country_RUS,country_USA,country_other,isClosed,active_years,active_days,target,first_funding_days,last_funding_days
20,3.0,8098246.375,2010.0,2010.0,1.0,6.0,30.267153,-97.743061,2003.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.333362,5475.0,1.0,6086.0,6410.0
45,1.0,1500000.000,2010.0,2010.0,1.0,8.0,47.610150,-122.201516,2004.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.333362,5475.0,1.0,6268.0,6268.0
48,1.0,2500000.000,2010.0,2012.0,2.0,7.0,37.774929,-122.419415,2006.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.000000,5475.0,1.0,4832.0,4832.0
74,1.0,40000.000,2012.0,2012.0,1.0,5.0,37.774929,-122.419415,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,10.000000,3650.0,1.0,6327.0,6327.0
93,1.0,350000.000,2008.0,2008.0,1.0,2.0,37.452960,-122.181725,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,14.000000,5110.0,1.0,4863.0,4863.0
103,1.0,3100000.000,2009.0,2012.0,3.0,5.0,37.368830,-122.036350,2008.0,0.0,...,0.0,0.0,1.0,0.0,1.0,13.000000,4745.0,1.0,6444.0,6444.0
120,1.0,100000.000,2009.0,2009.0,1.0,1.0,37.386052,-122.083851,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,4559.0,4559.0
130,1.0,280000.000,2008.0,2009.0,2.0,2.0,35.960638,-83.920739,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,14.000000,5110.0,1.0,5101.0,5101.0
165,1.0,720000.000,2010.0,2010.0,1.0,3.0,55.755826,37.617300,2009.0,0.0,...,0.0,0.0,0.0,0.0,1.0,12.000000,4380.0,1.0,6171.0,6171.0
170,3.0,4000000.000,2012.0,2013.0,2.0,7.0,40.712775,-74.005973,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,6201.0,6834.0
171,3.0,3268000.000,2013.0,2013.0,1.0,9.0,40.712775,-74.005973,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,10.000000,3650.0,1.0,6201.0,6901.0
172,1.0,8098246.375,2009.0,2009.0,1.0,2.0,42.337041,-71.209221,2001.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.333362,5475.0,1.0,4707.0,4707.0
177,1.0,250000.000,2011.0,2011.0,1.0,2.0,37.774929,-122.419415,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,6201.0,6201.0
181,3.0,1310000.000,2011.0,2013.0,2.0,9.5,40.712775,-74.005973,2008.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,5120.0,5686.0
217,1.0,1000000.000,2008.0,2009.0,2.0,3.0,37.774929,-122.419415,2008.0,0.0,...,0.0,0.0,1.0,0.0,1.0,13.000000,4745.0,1.0,5424.0,5424.0
227,2.0,3500000.000,2008.0,2011.0,3.0,9.0,57.521501,11.974560,2009.0,0.0,...,0.0,0.0,0.0,0.0,1.0,12.000000,4380.0,1.0,5410.0,6200.0
250,1.0,500000.000,2007.0,2011.0,2.0,6.0,37.774929,-122.419415,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,14.000000,5110.0,1.0,4924.0,4924.0
258,1.0,100000.000,2011.0,2011.0,2.0,1.0,35.227087,-80.843127,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,10.000000,3650.0,1.0,6079.0,6079.0
296,2.0,1750000.000,2007.0,2010.0,2.0,3.0,41.878114,-87.629798,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,4998.0,5759.0
342,1.0,150000.000,2008.0,2008.0,1.0,2.0,34.052234,-118.243685,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,14.000000,5110.0,1.0,4559.0,4559.0
387,1.0,1100000.000,2008.0,2010.0,2.0,3.0,37.774929,-122.419415,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,4984.0,4984.0
437,1.0,50000.000,2008.0,2008.0,1.0,1.0,40.712775,-74.005973,2008.0,0.0,...,0.0,0.0,1.0,0.0,1.0,13.000000,4745.0,1.0,6110.0,6110.0
456,1.0,1200000.000,2012.0,2013.0,3.0,9.0,40.712775,-74.005973,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,6462.0,6462.0
473,1.0,138000.000,2011.0,2012.0,2.0,7.0,47.100000,8.816670,2011.0,0.0,...,0.0,0.0,0.0,0.0,1.0,12.133345,4015.0,1.0,6140.0,6140.0
478,2.0,1300000.000,2009.0,2009.0,1.0,3.0,47.606209,-122.332071,2008.0,0.0,...,0.0,0.0,1.0,0.0,1.0,13.000000,4745.0,1.0,5395.0,5752.0
499,1.0,3000000.000,2008.0,2013.0,3.0,4.0,32.068424,34.824785,2008.0,0.0,...,0.0,0.0,0.0,0.0,1.0,13.000000,4745.0,1.0,5045.0,5045.0
511,2.0,21189.000,2011.0,2011.0,1.0,2.0,37.441883,-122.143019,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,12.133345,4015.0,1.0,6267.0,6549.0
527,1.0,1000000.000,2007.0,2005.5,1.0,1.0,37.774929,-122.419415,2001.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.333362,5475.0,1.0,6018.0,6018.0
529,1.0,895000.000,2011.0,2011.0,1.0,3.0,37.774929,-122.419415,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,10.000000,3650.0,1.0,6584.0,6584.0
580,3.0,3242399.000,2007.0,2007.0,1.0,2.0,52.205337,0.121817,2007.0,0.0,...,0.0,0.0,0.0,0.0,1.0,14.000000,5110.0,1.0,4649.0,5563.0

In [ ]:
# Liste exacte des colonnes à vérifier (comme dans ton message)
cols_to_check = ['category_advertising', 'country_NLD', 'country_RUS',
                 'country_USA', 'country_other', 'isClosed', 'target']

# Afficher les valeurs uniques pour chaque colonne
for col in cols_to_check:
    print(f"Column: {col}")
    unique_vals = company[col].unique()
    print(f"Unique values: {unique_vals}\n")

Column: category_advertising
Unique values: [0.]

Column: country_NLD
Unique values: [0.]

Column: country_RUS
Unique values: [0.]

Column: country_USA
Unique values: [1. 0.]

Column: country_other
Unique values: [0.]

Column: isClosed
Unique values: [1.]

Column: target
Unique values: [1.]

In [ ]:
bool_cols = company.select_dtypes(include=['bool']).columns
company[bool_cols] = company[bool_cols].astype(int)
int_cols = company.select_dtypes(include=['int']).columns
company[int_cols] = company[int_cols].astype(float)

# Data Type Conversion in Dataset

This code converts all boolean columns in the `company` DataFrame to integers (0 and 1), and then converts all integer columns to floating-point numbers for consistent numeric formatting and further analysis.

- **Boolean to Integer:** All columns with boolean data types are transformed into integers (True → 1, False → 0).
- **Integer to Float:** All integer columns are converted to float type to allow decimal values and uniform numeric handling.

This ensures that the dataset is ready for machine learning models or statistical computations that often expect numeric types in float format.

In [ ]:
company.head()

,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,founded_year,category_advertising,...,country_NLD,country_RUS,country_USA,country_other,isClosed,active_years,active_days,target,first_funding_days,last_funding_days
20,3.0,8098246.375,2010.0,2010.0,1.0,6.0,30.267153,-97.743061,2003.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.333362,5475.0,1.0,6086.0,6410.0
45,1.0,1500000.000,2010.0,2010.0,1.0,8.0,47.610150,-122.201516,2004.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.333362,5475.0,1.0,6268.0,6268.0
48,1.0,2500000.000,2010.0,2012.0,2.0,7.0,37.774929,-122.419415,2006.0,0.0,...,0.0,0.0,1.0,0.0,1.0,15.000000,5475.0,1.0,4832.0,4832.0
74,1.0,40000.000,2012.0,2012.0,1.0,5.0,37.774929,-122.419415,2011.0,0.0,...,0.0,0.0,1.0,0.0,1.0,10.000000,3650.0,1.0,6327.0,6327.0
93,1.0,350000.000,2008.0,2008.0,1.0,2.0,37.452960,-122.181725,2007.0,0.0,...,0.0,0.0,1.0,0.0,1.0,14.000000,5110.0,1.0,4863.0,4863.0

In [ ]:
# Liste exacte des colonnes à vérifier (comme dans ton message)
cols_to_check = ['category_advertising', 'country_NLD', 'country_RUS',
                 'country_USA', 'country_other', 'isClosed', 'target']

# Afficher les valeurs uniques pour chaque colonne
for col in cols_to_check:
    print(f"Column: {col}")
    unique_vals = company[col].unique()
    print(f"Unique values: {unique_vals}\n")

Column: category_advertising
Unique values: [0. 1.]

Column: country_NLD
Unique values: [0.]

Column: country_RUS
Unique values: [0.]

Column: country_USA
Unique values: [1. 0.]

Column: country_other
Unique values: [0.]

Column: isClosed
Unique values: [1.]

Column: target
Unique values: [1.]

In [ ]:
#Finally Save cleaned Data
company.to_csv('company_cleaned_week2.csv', index=False)